[2021-05-17 18:32] #2323 closed

[2021-05-18 20:06] charhoughton commented on #2331
@lcerrato I'll start working on this

[2021-05-18 20:06] charhoughton commented on #2330
@lcerrato I'll start working on this

[2021-05-21 22:01] jdeen33 opened #2392 "urn:cts:greekLit:tlg0057.tlg037.1st1K-grc1 [New Edition]"
[urn.cts.greekLit.tlg0057.tlg037.1st1K-grc1.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/6543022/urn.cts.greekLit.tlg0057.tlg037.1st1K-grc1.zip)

Editing Trello Card: [https://trello.com/c/yJzga1Ji](url)
Publishing Trello Card: https://trello.com/c/ijiay913

[2021-05-25 21:56] #2331 closed

[2021-05-25 23:42] Pria20 opened #2393 "(urn:cts:greekLit:tlg0081.tlg013.1st1K-grc1) new edition"
urn:cts:greekLit:tlg0081.tlg013.1st1K-grc1

To access XML files and to see more information, see [Trello Card](https://trello.com/c/Hit8LAWz/14-edit-uc1c020256950-1583112705-dionysius-of-h-opuscula)

[2021-05-25 23:48] Pria20 opened #2394 "(urn:cts:greekLit:tlg0081.tlg014.1st1K-grc1) new edition"
urn:cts:greekLit:tlg0081.tlg014.1st1K-grc1

To access XML files and to see more information, see [Trello Card](https://trello.com/c/Hit8LAWz/14-edit-uc1c020256950-1583112705-dionysius-of-h-opuscula)

[2021-05-25 23:50] Pria20 opened #2395 "(urn:cts:greekLit:tlg0081.tlg016.1st1K-grc1) new edition"
urn:cts:greekLit:tlg0081.tlg016.1st1K-grc1

To access XML files and to see more information, see [Trello Card](https://trello.com/c/Hit8LAWz/14-edit-uc1c020256950-1583112705-dionysius-of-h-opuscula)

[2021-05-26 00:00] Pria20 commented on #2393
[Publishing Card](https://trello.com/c/Fl0KCagL/24-publish-dionysius-of-halicarnassus-opuscula-2)

[2021-05-26 00:00] Pria20 commented on #2394
[Publishing Card](https://trello.com/c/Fl0KCagL/24-publish-dionysius-of-halicarnassus-opuscula-2)

[2021-05-26 00:00] Pria20 commented on #2395
[Publishing Card](https://trello.com/c/Fl0KCagL/24-publish-dionysius-of-halicarnassus-opuscula-2)

[2021-05-26 00:17] jdeen33 opened #2396 "(urn:cts:greekLit:tlg0550.tlg001.1st1K-grc1) New Edition"
XML file can be found on the Trello Editing Card [https://trello.com/c/HteEp8hp](url)
Trello Publishing Card : [https://trello.com/c/DaElVN29](url)

[2021-05-26 18:31] djwhittle opened #2397 "(urn:cts:greekLit:tlg1482.tlg001.1st1K-grc1) new edition"
You can find the text, the issues, and the names of the volunteers who worked on the text here: https://trello.com/c/zlhHSZAY/218-edit-leslapidairesdel00mely

[2021-05-26 18:32] djwhittle opened #2398 "(urn:cts:greekLit:tlg0751.tlg005.1st1K-grc1) new edition"
You can find the text, the issues, and the names of the volunteers who worked on the text here: https://trello.com/c/zlhHSZAY/218-edit-leslapidairesdel00mely

[2021-05-26 18:34] djwhittle opened #2399 "(urn:cts:greekLit:tlg2655.tlg002.1st1K-grc1) new edition"
You can find the text, the issues, and the names of the volunteers who worked on the text here: https://trello.com/c/zlhHSZAY/218-edit-leslapidairesdel00mely

[2021-05-26 18:35] djwhittle opened #2400 "(urn:cts:greekLit:tlg1118.tlg003.1st1K-grc1) new edition"
You can find the text, the issues, and the names of the volunteers who worked on the text here: https://trello.com/c/zlhHSZAY/218-edit-leslapidairesdel00mely

[2021-05-27 13:02] hardybritt opened #2402 "urn:cts:greekLit:tlg0628.tlg001.1st1K-grc1 (new edition)"
See Trello card for text attachment, issues, and names of volunteer editors: https://trello.com/c/iXOdg4fn/176-edit-cmusoniirufirel00hensgoog

[2021-05-28 23:19] #2334 closed

[2021-06-02 18:23] djwhittle opened #2404 "(urn:cts:greekLit:tlg0537.tlg010.1st1K-grc1) new edition"
This issue contains multiple small works by Epicurus. They are: urn:cts:greekLit:tlg0537.tlg010.1st1K-grc1 Epistula ad Herodotum; urn:cts:greekLit:tlg0537.tlg011.1st1K-grc1 Epistula ad Pythoclem; urn:cts:greekLit:tlg0537.tlg013.1st1K-grc1	Ratae sententiae; urn:cts:greekLit:tlg0537.tlg012.1st1K-grc1 Epistula ad Menoeceum; urn:cts:greekLit:tlg0537.tlg014.1st1K-grc1 Gnomologium Vaticanum Epicureum. T

[2021-06-02 19:20] lcerrato commented on #2330
@charhoughton
Did you make any progress on this? Otherwise, I will work on it. It has some bad Greek encoding as well.

[2021-06-02 19:31] lcerrato commented on #2330
@charhoughton
Yes, this is structurally incorrect as well so I will have to take a deeper look at the problems here.

[2021-06-03 00:56] charhoughton commented on #2330
@lcerrato thank you for taking care of this. I was on holiday over the long weekend, and am sometimes slow with editing (limited hours and an old computer)

[2021-06-03 01:04] charhoughton commented on #2370
@lcerrato I'll start editing this tomorrow

[2021-06-03 16:04] #2330 closed

[2021-06-03 16:06] lcerrato commented on #2330
@charhoughton
Thanks, I just want to clear out these older files as there are some issues with the character encoding. I didn't want to duplicate your efforts, though.

[2021-06-03 18:54] selzie opened #2406 "(urn:cts:greekLit:tlg0022.tlg001.1st1K-grc1.xml) new edition"
urn:cts:greekLit:tlg0022.tlg001.1st1K-grc1.xml

For xml file, see [Trello Publishing](https://trello.com/c/u5lnf78u/261-publish-theriaca-and-alexipharmaca-editions-and-scholia) and [Trello Editing](https://trello.com/c/elnPhlNT/219-edit-theriacaetalexip00nica)

[2021-06-03 18:56] selzie opened #2407 "(urn:cts:greekLit:tlg0022.tlg002.1st1K-grc1) new edition"
urn:cts:greekLit:tlg0022.tlg002.1st1K-grc1

For xml file, see [Trello Publishing](https://trello.com/c/u5lnf78u/261-publish-theriaca-and-alexipharmaca-editions-and-scholia) and [Trello Editing](https://trello.com/c/elnPhlNT/219-edit-theriacaetalexip00nica)

[2021-06-03 18:57] selzie opened #2408 "(urn:cts:greekLit:tlg5031.tlg001.1st1K-grc1) new edition"
urn:cts:greekLit:tlg5031.tlg001.1st1K-grc1

For xml file, see [Trello Publishing](https://trello.com/c/u5lnf78u/261-publish-theriaca-and-alexipharmaca-editions-and-scholia) and [Trello Editing](https://trello.com/c/elnPhlNT/219-edit-theriacaetalexip00nica)

[2021-06-03 18:58] selzie opened #2409 "(urn:cts:greekLit:tlg5031.tlg002.1st1K-grc1) new edition"
urn:cts:greekLit:tlg5031.tlg002.1st1K-grc1

For xml file, see [Trello Publishing](https://trello.com/c/u5lnf78u/261-publish-theriaca-and-alexipharmaca-editions-and-scholia) and [Trello Editing](https://trello.com/c/elnPhlNT/219-edit-theriacaetalexip00nica)

[2021-06-04 19:42] lcerrato opened #2410 "(tlg1553.tlg001) new edition and translation"
adding CHS submitted works

[2021-06-04 20:01] lcerrato opened #2411 "(tlg4037.tlg001) new edition and translation"
adding CHS submitted works

[2021-06-04 20:37] lcerrato commented on #2410
need to update spreadsheet, check canonical names/titles for catalog and open issues in catalog pending.

[2021-06-04 20:37] lcerrato commented on #2411
need to update spreadsheet, check canonical names/titles for catalog and open issues in catalog pending.

[2021-06-07 17:30] lcerrato commented on #2363
Needs special attention — please do not convert without checking with me.

[2021-06-07 20:11] lcerrato commented on #2332
Waiting on fixes to Greek characters

[2021-06-07 20:20] lcerrato commented on #2371
This is already in Scaife.

[2021-06-07 20:26] lcerrato commented on #2371
Also, there is no file attached for this edition (which appears to be identical to the Scaife edition).

[2021-06-07 20:55] lcerrato commented on #2379
This looks like it needs to be merged, rather than changed.
Also, structure needs work.

[2021-06-08 17:37] lcerrato commented on #2379
Structural issues:

the start does not bear any resemblance to the TLG: we need to encourage cross reference when practical (we have a "Pin." and a "Pref." but the work uses 1x.58, 1x.59, 1x.60, which appear to be page numbers?)

Then this is the structure:
[code]

[2021-06-09 00:36] lcerrato commented on #2377
1. Theodora Pylarinou,
2. Aglaia Poulida,
3. Vivian Platanou,
4. Athanasia Stathonikou,
5. Ioanna Kostopoulou,
6. Erini Drakou,
7. Solomiia Rozlutska,
8. Victoria Rozlutska

pp.17 problem 0n zoning the commentary
p.31 problem with zoning the commentary, paragraph 30 in need (?) of a bigger ‹ in the word ἦν.

[2021-06-09 00:47] lcerrato opened #2412 "file names?"
There are files in this collection named tlg0640.tlg001.**First**1K-grc1.xml with "First" instead of "1st"

[2021-06-09 01:07] lcerrato commented on #2377
It looks like the incorrect section breaks were used. TLG has 1.1.37 as the final section of book one, chapter one, whereas this file has 1.1.9.

[2021-06-10 16:17] lcerrato commented on #2412
@AlisonBabeu
Just flagging in case it wasn't intentional or there was another issue.

[2021-06-10 17:47] AlisonBabeu commented on #2412
Hi @lcerrato that is a typo on my part, anything on the picklist should be 1st1K, there are a few older files still in this collection that have a First1K URN rather than 1st, but I'm pretty sure Matt tried to standardize them all.

[2021-06-11 18:18] charhoughton commented on #2370
@lcerrato this text has alternate numbering for sections, should they be marked at <bibl>s? Here's a page in the text that shows what it looks like: https://babel.hathitrust.org/cgi/pt?id=iau.31858049928702&view=1up&seq=798

[2021-06-11 18:50] lcerrato commented on #2370
@charhoughton
Hmm, to what on that page are you referring? The material between the bars or something else? I just want to be sure we're talking about the same thing.
(strictly speaking, an alternate numbering system is usually given milestones)

[2021-06-11 18:59] charhoughton commented on #2370
@lcerrato I meant more, for example, "19 (18 Sp.)" at the beginning of the second paragraph. Should the "(18 Sp.)" be encoded somehow?

[2021-06-11 19:06] lcerrato commented on #2370
Oh, I see, the alternate number? Probably `<label>`.

[2021-06-11 19:09] lcerrato commented on #2370
You could add `<label type="alternate">`

If there was no attribution to "Sp." you could also do `<num>` but I think label is simplest here. Good catch.

[2021-06-11 20:54] ahanhardt opened #2414 "(tlg0626.tlg002.1st1K-grc1.xml) new edition"
[uc1-b4708580-1619092434.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/6640942/uc1-b4708580-1619092434.zip)

Trello editing card: https://trello.com/c/oBlWxkNh/237-editing-uc1-b4708580-1619092434

[2021-06-11 20:55] ahanhardt opened #2415 "(urn:cts:greekLit:tlg1562.tlg002.1st1K-grc1) new edition"
Please see Issue #2414 for this work's zip file

Trello editing card: https://trello.com/c/oBlWxkNh/237-editing-uc1-b4708580-1619092434

[2021-06-11 20:59] ahanhardt commented on #2415
Trello publishing card: https://trello.com/c/Kvz1fr0P/262-publish-uc1-b4708580-1619092434

[2021-06-11 20:59] ahanhardt commented on #2414
Trello publishing card: https://trello.com/c/Kvz1fr0P/262-publish-uc1-b4708580-1619092434

[2021-06-11 21:20] ahanhardt opened #2416 "(urn:cts:greekLit:tlg0521.tlg008.1st1K-grc1) new edition"
Please see issue #2414 for the zip file

Trello editing task card: https://trello.com/c/oBlWxkNh/237-editing-uc1-b4708580-1619092434

Trello publishing task card: https://trello.com/c/Kvz1fr0P/262-publish-uc1-b4708580-1619092434

[2021-06-11 21:20] ahanhardt opened #2417 "(urn:cts:greekLit:tlg01596.tlg002.1st1K-grc1) new edition"
Please see issue #2414 for the zip file

Trello editing task card: https://trello.com/c/oBlWxkNh/237-editing-uc1-b4708580-1619092434

Trello publishing task card: https://trello.com/c/Kvz1fr0P/262-publish-uc1-b4708580-1619092434

[2021-06-11 21:21] ahanhardt opened #2418 "(urn:cts:greekLit:tlg1319.tlg002.1st1K-grc1) new edition"
Please see issue #2414 for the zip file

Trello editing task card: https://trello.com/c/oBlWxkNh/237-editing-uc1-b4708580-1619092434

Trello publishing task card: https://trello.com/c/Kvz1fr0P/262-publish-uc1-b4708580-1619092434

[2021-06-11 21:21] ahanhardt opened #2419 "(urn:cts:greekLit:tlg0620.tlg002.1st1K-grc1) new edition"
Please see issue #2414 for the zip file

Trello editing task card: https://trello.com/c/oBlWxkNh/237-editing-uc1-b4708580-1619092434

Trello publishing task card: https://trello.com/c/Kvz1fr0P/262-publish-uc1-b4708580-1619092434

[2021-06-17 20:42] charhoughton commented on #2392
@lcerrato claiming for initial markup

[2021-06-21 13:36] charhoughton commented on #2370
@AlisonBabeu @lcerrato this text keeps failing "available in inventory." Would either of you be able to check the URN?

[2021-06-21 14:42] lcerrato commented on #2370
Hi @charhoughton This Hook error message typically means that the URN of the file (either the file itself or in the first `<div>)` does not agree with a URN in one of the CTS metadata files. There is no external relation to any "inventory" such as the Perseus Catalog — the Hook test is only aware of files within the directory being tested.

[2021-06-21 14:44] charhoughton commented on #2370
@lcerrato thanks, I think I know what happened in that case

[2021-06-21 18:44] brobertson commented on #2398
[urn.cts.greekLit.tlg0751.tlg005.1st1K-grc1.xml.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/6688817/urn.cts.greekLit.tlg0751.tlg005.1st1K-grc1.xml.zip)

[2021-06-21 18:45] brobertson commented on #2398
@lcerrato I have appended the text above.

[2021-06-21 18:46] brobertson commented on #2397
Text appended:
[urn.cts.greekLit.tlg1482.tlg001.1st1K-grc1.xml.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/6688819/urn.cts.greekLit.tlg1482.tlg001.1st1K-grc1.xml.zip)

[2021-06-21 18:47] brobertson commented on #2399
Text appended: [urn.cts.greekLit.tlg2655.tlg002.1st1K-grc1.xml.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/6688821/urn.cts.greekLit.tlg2655.tlg002.1st1K-grc1.xml.zip)

[2021-06-21 18:48] brobertson commented on #2400
Text appended:
[urn.cts.greekLit.tlg1118.tlg003.1st1K-grc1.xml.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/6688825/urn.cts.greekLit.tlg1118.tlg003.1st1K-grc1.xml.zip)

[2021-06-22 17:47] #2370 closed

[2021-06-22 19:11] #2410 closed

[2021-06-22 19:11] #2411 closed

[2021-06-22 22:55] charhoughton commented on #2334
@lcerrato a volunteer name needs to be changed from Jen Knickerbocker to Milo Knickerbocker. Should I create a new issue for that and one other file with the same change?

[2021-06-22 22:55] charhoughton commented on #2382
@lcerrato claiming

[2021-06-22 22:58] charhoughton commented on #2392
@lcerrato claiming

[2021-06-22 23:02] charhoughton commented on #2395
@lcerrato claiming

[2021-06-22 23:03] lcerrato commented on #2334
Hi @charhoughton
You may be able to make the change directly in GitHub (depending on the file size).

[2021-06-24 18:48] djwhittle opened #2426 "(urn:cts:greekLit:tlg0057.tlg033.1st1K-grc1) new edition"
Trello editing task card: https://trello.com/c/dnzHDMP1/233-edit-biusante352381x03

Trello publishing task card: https://trello.com/c/NXKGDE3E/272-publishing-biusante352381x03

The XML file can be found on the Trello cards

[2021-06-29 18:28] charhoughton commented on #2394
@lcerrato claiming

[2021-06-29 18:36] charhoughton commented on #2394
@lcerrato a lot of text was zoned as commentary, and I just want to make sure we're keeping it that way before I get too far into the editing process. See an example here: http://heml.mta.ca/lace/side_by_side_view.html?collectionUri=/db/apps/uc1.c020256950-1583112705_2020-07-04-15-27-42&positionInCollection=204

[2021-07-01 02:13] hls2mn opened #2428 "(stoa0367.stoa001.ogl-lat1) new edition"
[4013894.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/6744921/4013894.zip)

[2021-07-01 14:17] agpphilo opened #2429 "Report an issue: urn:cts:greekLit:tlg0018.tlg031.opp-grc1:3"
[tlg0018.tlg031.opp-grc1.xml](https://github.com/OpenGreekAndLatin/First1KGreek/tree/8a96ef9/data/tlg0018/tlg031/tlg0018.tlg031.opp-grc1.xml)
typo:
πρσκεκλήρωται  >> προσκεκλήρωται

[2021-07-01 19:48] lcerrato commented on #2394
@charhoughton
I honestly don't know if we want to keep a commentary file apart from the work file or not.

If the work was done on the commentary then that should be at least preserved. Maybe the raw file should be kept here with an issue for the commentary so that someone can do that later on. We don't have guidelines on commentaries at OGL

(*I see that a page like 201 was not completely OCR'd,

[2021-07-02 20:25] lcerrato commented on #2392
@charhoughton see my comments in the pull request.
We may need the Kuhn pages restored (or added).

[2021-07-02 21:22] charhoughton commented on #2394
@lcerrato thanks for noticing the restructuring the file needs! My question was more about whether what was zoned as commentary actually is commentary. It's a smaller font, but pretty frequent, so I just wanted to check. I'll also look more closely at the text when I'm back at my work computer next week.

[2021-07-09 18:23] lcerrato commented on #2394
@charhoughton
Ok, I would have to do a more thorough examination to know if the commentary zoning is correct or not.

When I'm doing the post-processing, I'm generally paging though the scans (looking for bad hyphenation at page breaks, or checking for missing sections, for instance) so that is when I would be able to spot missing text.

[2021-07-09 18:26] charhoughton commented on #2394
@lcerrato when I was working through it, the commentary zoning looks pretty accurate, but I'm sure another look wouldn't hurt, if you have time.

[2021-07-09 18:36] lcerrato commented on #2394
@charhoughton
The handoff checklist in the wiki may be useful for just a set of things to look over.

Ideally, we catch missing primary text when we page through a work at the time of xml post-processing. It is not uncommon for a page not to be zoned, for instance, so we should be on the lookout for warning signs (there will be two page breaks together, or page breaks will be misnumbered, or there

[2021-07-09 18:40] charhoughton commented on #2394
@lcerrato CTS doesn't allow commas, as in ```<div subtype="fragment" xml:base="" n="31, 1, 1">```. I wasn't sure of another way to capture the multiple numbers other than by subdividing, but I agree that it's not a very neat or ideal solution.

[2021-07-09 20:16] lcerrato commented on #2394
@charhoughton
No, the spaces and commas aren't XML compliant.

I would just say <div subtype="fragment" xml:base="urn:cts:greekLit:tlg0081.tlg014.1st1K-grc1" n="31.1.1">

But I can change that in the PR.

[2021-07-09 20:21] charhoughton commented on #2394
@lcerrato oh okay. I didn't know if that level of specification would be okay without the other bigger ones. Thanks!

[2021-07-10 01:17] #2394 closed

[2021-07-10 11:36] brobertson opened #2432 "(urn.cts.greekLit.tlg2035.tlg002.1st1K-grc1) new edition"
Please review refsdecl

[urn.cts.greekLit.tlg2035.tlg002.1st1K-grc1.xml.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/6795156/urn.cts.greekLit.tlg2035.tlg002.1st1K-grc1.xml.zip)

[2021-07-10 15:33] brobertson opened #2433 "(urn.cts.greekLit:tlg2018.tlg009.XXX-grc1) new edition"
Cleaned numbers, hyphenation, hyphenation across pages. refsdecl needs to be corrected, as does the statement about editors.

[urn.cts.greekLit:tlg2018.tlg009.opp-grc1.xml.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/6795509/urn.cts.greekLit.tlg2018.tlg009.opp-grc1.xml.zip)

[2021-07-12 15:49] brobertson opened #2434 "(urn.cts.greekLit.tlg5023.tlg001.1st1K-grc1) new work"
[urn.cts.greekLit.tlg5023.tlg001.1st1K-grc1.xml.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/6802728/urn.cts.greekLit.tlg5023.tlg001.1st1K-grc1.xml.zip)

[2021-07-12 17:10] lcerrato commented on #2433
Replaces #2379

We have opp-grc1 and 1st1K-grc1 editions because there is an existing text in OGL, so we initially wanted to merge the file but now we want to replace it, so the naming was confusing.

[2021-07-12 17:10] lcerrato commented on #2379
See #2433 for new file

[2021-07-12 17:17] lcerrato commented on #2433
revisit file name and possible remove incomplete file from OGL collection?

[2021-07-13 16:04] charhoughton opened #2435 "(urn:cts:greekLit:tlg1188.tlg002.1st1K-grc1) new edition"
publishing card: https://trello.com/c/89jHbllI/284-publish-fragmentaphiloso03mulluoft with volunteer names
editing card: https://trello.com/c/SPDEP2G7/195-edit-fragmentaphiloso03mulluoft

[2021-07-13 16:05] charhoughton opened #2436 "(urn:cts:greekLit:tlg01287.tlg001.1st1K-grc1) new edition"
publishing card: https://trello.com/c/89jHbllI/284-publish-fragmentaphiloso03mulluoft with volunteer names
editing card: https://trello.com/c/SPDEP2G7/195-edit-fragmentaphiloso03mulluoft

[2021-07-13 16:05] charhoughton opened #2437 "(urn:cts:greekLit:tlg2640.tlg001.1st1K-grc1) new edition"
publishing card: https://trello.com/c/89jHbllI/284-publish-fragmentaphiloso03mulluoft with volunteer names
editing card: https://trello.com/c/SPDEP2G7/195-edit-fragmentaphiloso03mulluoft

[2021-07-13 16:06] charhoughton opened #2438 "(urn:cts:greekLit:tlg1542.tlg001.1st1K-grc1) new edition"
publishing card: https://trello.com/c/89jHbllI/284-publish-fragmentaphiloso03mulluoft with volunteer names
editing card: https://trello.com/c/SPDEP2G7/195-edit-fragmentaphiloso03mulluoft

[2021-07-13 16:06] charhoughton opened #2439 "(urn:cts:greekLit:tlg2049.tlg001.1st1K-grc1) new edition"
publishing card: https://trello.com/c/89jHbllI/284-publish-fragmentaphiloso03mulluoft with volunteer names
editing card: https://trello.com/c/SPDEP2G7/195-edit-fragmentaphiloso03mulluoft

[2021-07-13 16:07] charhoughton opened #2440 "(urn:cts:greekLit:tlg2970.tlg001.1st1K-grc1) new edition"
publishing card: https://trello.com/c/89jHbllI/284-publish-fragmentaphiloso03mulluoft with volunteer names
editing card: https://trello.com/c/SPDEP2G7/195-edit-fragmentaphiloso03mulluoft

[2021-07-13 16:07] charhoughton opened #2441 "(urn:cts:greekLit:tlg1692.tlg005.1st1K-grc1) new edition"
publishing card: https://trello.com/c/89jHbllI/284-publish-fragmentaphiloso03mulluoft with volunteer names
editing card: https://trello.com/c/SPDEP2G7/195-edit-fragmentaphiloso03mulluoft with XML

[2021-07-13 16:08] charhoughton opened #2442 "(urn:cts:greekLit:tlg0634.tlg001.1st1K-grc1) new edition"
publishing card: https://trello.com/c/89jHbllI/284-publish-fragmentaphiloso03mulluoft with volunteer names
editing card: https://trello.com/c/SPDEP2G7/195-edit-fragmentaphiloso03mulluoft with XML

[2021-07-13 16:41] charhoughton commented on #2393
@lcerrato claiming

[2021-07-13 17:19] lcerrato commented on #2378
In progress

[2021-07-13 17:34] lcerrato commented on #2433
Theodora Pylarinou,
Aglaia Poulida,
Vivian Platanou,
Athanasia Stathonikou,
Ioanna Kostopoulou,
Erini Drakou,
Solomiia Rozlutska,
Victoria Rozlutska,
Natalia Gkolfinopoulou,
Diana Khalil,
Ioannis Stratakis,
Maria Tsiolaki,
Panagiotis Tsamis,
and Marina Tzortzakaki.

The issues were as follows: issue zoning app crit on page 138; zoning issue with primary text page 143, 160, 170, 171, 172, 174 could

[2021-07-13 17:35] lcerrato commented on #2433
Prior version:
The volunteers who edited this text were
Theodora Pylarinou,
Aglaia Poulida,
Vivian Platanou,
Athanasia Stathonikou,
Ioanna Kostopoulou,
Erini Drakou,
Solomiia Rozlutska,
and Victoria Rozlutska.

The main issue for this text is that some of the line numerals were included in the primary text zones and that the primary text zone on page 74 included a marginal commentary note. Other m

[2021-07-14 01:51] #2377 closed

[2021-07-14 01:51] #2378 closed

[2021-07-14 01:51] #2379 closed

[2021-07-14 01:51] #2433 closed

[2021-07-14 15:06] AlisonBabeu opened #2444 "(tlg0645)_cts.xml and header work"
Completing work on headers and cts files of Justinus Martyr while creating catalog records.

This has led to the "discovery" that [urn:cts:greekLit:tlg0645.tlg002.opp-grc1](https://github.com/OpenGreekAndLatin/First1KGreek/blob/master/data/tlg0645/tlg002/tlg0645.tlg002.opp-grc1.xml)  and [urn:cts:greekLit:tlg0645.tlg002.perseus-grc2 ](https://github.com/OpenGreekAndLatin/First1KGreek/blob/master/d

[2021-07-14 16:07] lcerrato commented on #2444
The perseus-grc2 edition has no history of work at Perseus.
The editions are identical except one has an incorrect CTS designation of "book" (despite there being chapters noted throughout) and the perseus edition has an extensive header credit section.
opp-grc1 has a better author/title/bibliographic info, however
There is also a minor difference in how page breaks are tagged.

So there is probabl

[2021-07-14 17:26] #2429 closed

[2021-07-14 19:06] #2395 closed

[2021-07-14 20:40] #2392 closed

[2021-07-16 16:43] #2393 closed

[2021-07-16 16:51] brobertson opened #2450 "(urn.cts.greekLit.tlg2023.tlg001.1st1K-grc1.xml) new edition"
XML checked for bad characters, hyphens cleaned, running numbers removed (5,10,15, etc), header filled out with exception of refdecls.

[urn.cts.greekLit.tlg2023.tlg001.1st1K-grc1.xml.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/6832224/urn.cts.greekLit.tlg2023.tlg001.1st1K-grc1.xml.zip)

[2021-07-16 17:02] charhoughton commented on #2404
@lcerrato claiming

[2021-07-16 17:11] brobertson commented on #2450
This version is the same as the one above, but also has running open quotation marks removed, so that each quotation has only one opening and closing quotation mark. It's my assumption that this is preferred for further editing.
[urn.cts.greekLit.tlg2023.tlg001.1st1K-grc1.xml 2.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/6832306/urn.cts.greekLit.tlg2023.tlg001.1st1K-grc1.xml.2.zip

[2021-07-19 19:48] charhoughton commented on #2398
@lcerrato claiming

[2021-07-20 17:15] charhoughton commented on #2396
@lcerrato claiming for markup

[2021-07-24 01:12] jdeen33 opened #2453 "[urn:cts:greekLit:tlg01383.tlg001.1st1K-grc1 ] new edition"
[geminoueisagoget00gemi.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/6871716/geminoueisagoget00gemi.zip)

Link to editing Trello Card: [https://trello.com/c/mTpoUOeR](url)
Link to Publishing Trello Card: https://trello.com/c/OYTaTi1d

[2021-07-27 13:57] AlisonBabeu commented on #2402
@lcerrato I've created metadata for this edition so an issue does not need to be created in catalog_pending.

[2021-07-27 18:37] charhoughton commented on #2396
@lcerrato I reached the credit limit on Travis trying to push commits for this issue

[2021-07-27 20:19] AlisonBabeu opened #2457 "(tlg2042)-Origen-_cts.xml and cataloging"
This issue is to keep track of work I will be doing on the Origen cts_.xml files and headers while I finally catalog the large amount of Origen works in First1K.

[2021-07-29 19:20] brobertson commented on #2453
[urn.cts.greekLit.tlg1383.tlg001.1st1K-grc1.xml.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/6903108/urn.cts.greekLit.tlg1383.tlg001.1st1K-grc1.xml.zip)
 The above file has its urns cleaned, errant marginal numbers and letters removed, dehyphenation, and header mostly done. It should be used rather than the raw output in the post from 6 days ago.

[2021-08-03 16:51] charhoughton commented on #2397
@lcerrato claiming

[2021-08-10 16:58] charhoughton commented on #2399
@lcerrato initial markup done and ready for a push to testing

[2021-08-12 16:12] charhoughton opened #2460 "(urn:cts:greekLit:tlg5025.tlg002.1st1K-grc1) new edition"
see editing card for volunteer names, XML, etc: https://trello.com/c/Rdb9IbSo/209-edit-poetaeminoresgra02gais-scholia-in-hesiodem
publishing card: https://trello.com/c/zcjvla0D/287-publish-poetaeminoresgra02gais

This text will require reformatting to add another level of citation for each scholion.

[2021-08-16 23:38] githubyouser opened #2462 "Report an issue: urn:cts:greekLit:tlg0527.tlg014.opp-grc2:1.6"
[tlg0527.tlg014.opp-grc2.xml](https://github.com/OpenGreekAndLatin/First1KGreek/tree/59ed9e4/data/tlg0527/tlg014/tlg0527.tlg014.opp-grc2.xml)

TYPO: ἡ κηίνη ἐφ’ ἦς ἀνέβης ὅτι οὐ καταβήσῃ ἀπ’ αὐτῆς,

Should be **ἡ κλίνη**

[2021-08-16 23:51] githubyouser opened #2463 "Report an issue: urn:cts:greekLit:tlg0527.tlg014.opp-grc2:1.8"
[tlg0527.tlg014.opp-grc2.xml](https://github.com/OpenGreekAndLatin/First1KGreek/tree/59ed9e4/data/tlg0527/tlg014/tlg0527.tlg014.opp-grc2.xml)

Another TYPO:  Ἀνὴρ δαςὺς καὶ ζώνην
Should be: Ἀνὴρ **δασὺς** καὶ ζώνην

[2021-08-16 23:52] githubyouser opened #2464 "Report an issue: urn:cts:greekLit:tlg0527.tlg014.opp-grc2:1.1-1.8"
[tlg0527.tlg014.opp-grc2.xml](https://github.com/OpenGreekAndLatin/First1KGreek/tree/59ed9e4/data/tlg0527/tlg014/tlg0527.tlg014.opp-grc2.xml)

Yet another TYPO: καὶ ἄγγελος Κυπίου ἐκάλεσεν Ἠλειοὺ
Should be: καὶ ἄγγελος **Κυρίου** ἐκάλεσεν Ἠλειοὺ

[2021-08-19 18:47] charhoughton commented on #2396
@lcerrato  edited XML files:
[Archive.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7017087/Archive.zip)

[2021-08-19 18:48] charhoughton commented on #2397
@lcerrato edited files attached
[Archive.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7017095/Archive.zip)

[2021-08-19 18:49] charhoughton commented on #2399
@lcerrato edited files attached
[Archive.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7017101/Archive.zip)

[2021-08-19 18:51] charhoughton commented on #2400
@lcerrato edited files attached
[Archive.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7017106/Archive.zip)

[2021-08-20 18:14] #2404 closed

[2021-08-20 19:55] charhoughton commented on #2404
Didn't notice the multiple texts in this issue before, so working on them now. @lcerrato do you want me to create new issues for them?

[2021-08-20 20:58] charhoughton opened #2468 "(urn:cts:greekLit:tlg2018.tlg023.1st1K-grc1) new edition"
see editing card on trello for volunteers, XML: https://trello.com/c/c1QjmXOM/238-edit-gaisfordeclogaepropheticae.

Note pp. 230 and 231 are missing in the XML file and the Internet Archive scan. They are available in HathiTrust, but need to be manually added to XML.

[2021-08-23 19:10] charhoughton commented on #2402
@lcerrato claiming. Will add files here when I finish

[2021-08-23 21:05] ahanhardt opened #2469 "(urn:cts:greekLit:tlg0086) new editions"
Suite of Aristotle texts:

- urn:cts:greekLit:tlg0086.tlg019.1st1K-grc1
- urn:cts:greekLit:tlg0086.tlg032.1st1K-grc1
- urn:cts:greekLit:tlg0086.tlg039.1st1K-grc1
- urn:cts:greekLit:tlg0086.tlg023.1st1K-grc1
- urn:cts:greekLit:tlg0086.tlg046.1st1K-grc1
- urn:cts:greekLit:tlg0086.tlg047.1st1K-grc1
- urn:cts:greekLit:tlg0086.tlg004.1st1K-grc1
- urn:cts:greekLit:tlg0086.tlg007.1st1K-grc1
- urn:cts:gre

[2021-08-23 21:11] ahanhardt opened #2470 "(urn:cts:greekLit:tlg1146.tlg001.1st1K-grc1) new edition"
Please see Trello cards for zip file and names of volunteers:

[Publishing Tasks card](https://trello.com/c/TQmNAuD9/115-publish-stoicorumveterum03arniuoft)
[Editing Tasks card](https://trello.com/c/gnCtJwDm/114-edit-stoicorumveterum03arniuoft)

[2021-08-23 21:12] ahanhardt opened #2471 "(urn:cts:greekLit:tlg1264.tlg002.1st1K-grc1) new edition"
Please see Trello cards for zip file and names of volunteers:

[Publishing Tasks card](https://trello.com/c/TQmNAuD9/115-publish-stoicorumveterum03arniuoft)
[Editing Tasks card](https://trello.com/c/gnCtJwDm/114-edit-stoicorumveterum03arniuoft)

[2021-08-23 21:12] ahanhardt opened #2472 "(urn:cts:greekLit:tlg1264.tlg003.1st1K-grc1) new edition"
Please see Trello cards for zip file and names of volunteers:

[Publishing Tasks card](https://trello.com/c/TQmNAuD9/115-publish-stoicorumveterum03arniuoft)
[Editing Tasks card](https://trello.com/c/gnCtJwDm/114-edit-stoicorumveterum03arniuoft)

[2021-08-23 21:13] ahanhardt opened #2473 "(urn:cts:greekLit:tlg1264.tlg004.1st1K-grc1) new edition"
Please see Trello cards for zip file and names of volunteers:

[Publishing Tasks card](https://trello.com/c/TQmNAuD9/115-publish-stoicorumveterum03arniuoft)
[Editing Tasks card](https://trello.com/c/gnCtJwDm/114-edit-stoicorumveterum03arniuoft)

[2021-08-23 21:14] ahanhardt opened #2474 "(urn:cts:greekLit:tlg1320.tlg001.1st1K-grc1) new edition"
Please see Trello cards for zip file and names of volunteers:

[Publishing Tasks card](https://trello.com/c/TQmNAuD9/115-publish-stoicorumveterum03arniuoft)
[Editing Tasks card](https://trello.com/c/gnCtJwDm/114-edit-stoicorumveterum03arniuoft)

[2021-08-23 21:17] charhoughton commented on #2402
Initial markup completed:
[Archive.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7034937/Archive.zip)

[2021-08-23 21:27] ahanhardt opened #2475 "(urn:cts:greekLit:tlg0087.tlg001.1st1K-grc1) new edition"
Please see Trello cards for zip file and names of volunteers:

[Publishing Tasks card](https://trello.com/c/zt6KYeJD/290-publish-edit-uc1-31822026075267-1617234574)
[Editing Tasks card](https://trello.com/c/4na9De4p/226-edit-uc1-31822026075267-1617234574)

[2021-08-23 21:36] ahanhardt opened #2476 "(urn:cts:greekLit:tlg1548.tlg001.1st1K-grc1) new edition"
Please see Trello card for zip file and names of volunteers:

[Publishing Task card](https://trello.com/c/HU2Nx6vn/289-publish-fragmentaphiloso02mulluoft)
[Editing Task card](https://trello.com/c/nO9bnNMm/221-edit-fragmentaphiloso02mulluoft-30k-words)

[2021-08-23 21:36] ahanhardt opened #2477 "(urn:cts:greekLit:tlg0529.tlg002.1st1K-grc1) new edition"
Please see Trello card for zip file and names of volunteers:

[Publishing Task card](https://trello.com/c/HU2Nx6vn/289-publish-fragmentaphiloso02mulluoft)
[Editing Task card](https://trello.com/c/nO9bnNMm/221-edit-fragmentaphiloso02mulluoft-30k-words)

[2021-08-23 21:41] ahanhardt opened #2478 "(urn:cts:greekLit:tlg2042.tlg079.1st1K-grc1) new edition"
Please see Trello card for zip file and names of volunteers:

[Publishing Task card](https://trello.com/c/uP64ab1i/292-publish-uiuc-2850082v4-1622047771-origenes-werke-volume-4)
[Editing Task card](https://trello.com/c/wxD4bCKL/246-edit-uiuc-2850082v4-1622047771-origenes-werke-volume-4)

[2021-08-23 21:45] ahanhardt opened #2479 "(urn:cts:greekLit:tlg1719.tlg001.1st1K-grc1) new edition"
Please see Trello card for zip file and names of volunteers:

[Publishing Task card](https://trello.com/c/eULY1N1B/293-publish-edit-bubgbvbiwaaaaqaaj-sphaericorum-libros-tres-nizze-reimer-1852)
[Editing Task card](https://trello.com/c/nErQzu8m/249-edit-bubgbvbiwaaaaqaaj-sphaericorum-libros-tres-nizze-reimer-1852)

[2021-08-23 21:49] ahanhardt opened #2480 "(urn:cts:greekLit:tlg1194.tlg001.1st1K-grc1) new edition"
Please see Trello card for zip file and names of volunteers:

[Publishing Task card](https://trello.com/c/4lCLWNPu/294-publish-perisemeionodyss00arisuoft-aristonici-peri-se%CC%84meio%CC%84n-odysseias-reliquiae-emendatiores-carnuth-hirzel-1869)
[Editing Task card](https://trello.com/c/osekvQ1z/251-edit-perisemeionodyss00arisuoft-aristonici-peri-se%CC%84meio%CC%84n-odysseias-reliquiae-emendatiores-c

[2021-08-23 21:54] ahanhardt opened #2481 "(urn:cts:greekLit:tlg1416.tlg007.1st1K-grc1) new edition"
Please see Trello card for zip file and names of volunteers:

[Publishing Task card](https://trello.com/c/CjvM0lbu/295-publish-dedifferentiaadf00ammouoft-ammonius-de-differentia-adfinium-vocabulorum-1822-valckenaer)
[Editing Task card](https://trello.com/c/g0SMsPyl/257-edit-dedifferentiaadf00ammouoft-ammonius-de-differentia-adfinium-vocabulorum-1822-valckenaer)

[2021-08-23 21:55] ahanhardt opened #2482 "(urn:cts:greekLit:tlg1129.tlg001.1st1K-grc1) new edition"
Please see Trello card for zip file and names of volunteers:

[Publishing Task card](https://trello.com/c/CjvM0lbu/295-publish-dedifferentiaadf00ammouoft-ammonius-de-differentia-adfinium-vocabulorum-1822-valckenaer)
[Editing Task card](https://trello.com/c/g0SMsPyl/257-edit-dedifferentiaadf00ammouoft-ammonius-de-differentia-adfinium-vocabulorum-1822-valckenaer)

[2021-08-23 22:01] ahanhardt opened #2483 "(urn:cts:greekLit:tlg1271) new editions"
2 texts

- urn:cts:greekLit:tlg1271.tlg012.1st1K-grc1
- urn:cts:greekLit:tlg1271.tlg011.1st1K-grc1

Please see Trello card for zip file and names of volunteers:
[Publishing Task card](https://trello.com/c/vXgw1Wv5/296-publish-mn41652ucmf3)
[Editing Task card](https://trello.com/c/dMnGbZeK/258-edit-mn41652ucmf3)

[2021-08-23 22:09] ahanhardt opened #2484 "(urn:cts:greekLit:tlg1414.tlg001.1st1K-grc1) new edition"
Please see Trello card for zip file and names of volunteers:

[Publishing Task card](https://trello.com/c/cv6wElgp/297-publish-heraclitiallegor00herauoft-heracliti-allegoriae-homericae-brill-1851)
[Editing task card](https://trello.com/c/3X1UDw6V/259-edit-heraclitiallegor00herauoft-heracliti-allegoriae-homericae-brill-1851)

[2021-08-23 22:14] ahanhardt opened #2485 "(urn:cts:greekLit:tlg0533) new editions"
3 Callimachus texts:

- urn:cts:greekLit:tlg0533.tlg006.1st1K-grc1
- urn:cts:greekLit:tlg0533.tlg007.1st1K-grc1
- urn:cts:greekLit:tlg0533.tlg009.1st1K-grc1

Please see Trello card for zip file and names of volunteers:

[Publishing Task card](https://trello.com/c/dufnOhBI/298-publish-callimachuslycop00calluoft)
[Editing Task card](https://trello.com/c/fNMjcWEX/263-edit-callimachuslycop00calluoft)

[2021-08-23 22:19] ahanhardt opened #2486 "(urn:cts:greekLit:tlg2023.tlg006.1st1K-grc1) new edition"
Please see Trello card for zip file and names of volunteers:

[Publishing Task card](https://trello.com/c/EL8oYVoK/299-publish-jamblichidemyst00jambgoog-jamblichi-de-mysteriis-liber-parthey-1857)
[Editing Task card](https://trello.com/c/CN2bMveQ/266-edit-jamblichidemyst00jambgoog-jamblichi-de-mysteriis-liber-parthey-1857)

[2021-08-23 22:28] ahanhardt opened #2487 "(urn:cts:greekLit:tlg1699) new editions"
8 Teles texts:

- urn:cts:greekLit:tlg1699.tlg001.1st1K-grc1
- urn:cts:greekLit:tlg1699.tlg002.1st1K-grc1
- urn:cts:greekLit:tlg1699.tlg003.1st1K-grc1
- urn:cts:greekLit:tlg1699.tlg004.1st1K-grc1
- urn:cts:greekLit:tlg1699.tlg005.1st1K-grc1
- urn:cts:greekLit:tlg1699.tlg006.1st1K-grc1
- urn:cts:greekLit:tlg1699.tlg007.1st1K-grc1
- urn:cts:greekLit:tlg1699.tlg008.1st1K-grc1

Please see Trello card

[2021-08-23 22:32] ahanhardt opened #2488 "(urn:cts:greekLit:tlg0564.tlg001.1st1K-grc1) new edition"
Please see Trello card for zip file and names of volunteers:

[Publishing Task card](https://trello.com/c/vfSbUEgm/301-publish-b21948902-oeuvres-de-rufus-deph%C3%A8se-7k-words)
[Editing Task card](https://trello.com/c/8BB8YEEB/270-edit-b21948902-oeuvres-de-rufus-deph%C3%A8se-7k-words)

[2021-08-24 14:33] ahanhardt opened #2489 "(urn:cts:greekLit:tlg1131.tlg001.1st1K-grc1) new edition"
Please see Trello card for zip file and names of volunteers:

[Publishing Task card](https://trello.com/c/xIhnEchI/302-publish-reliquiaesacraes02rout-mj-routh-reliquiae-sacrae-vol-2-2nd-edn-oxford-oxford-university-press-1846)
[Editing Task card](https://trello.com/c/8tn0ymdh/256-edit-reliquiaesacraes02rout-mj-routh-reliquiae-sacrae-vol-2-2nd-edn-oxford-oxford-university-press-1846)

[2021-08-24 14:33] ahanhardt opened #2490 "(urn:cts:greekLit:tlg0572.tlg001.1st1K-grc1) new edition"
Please see Trello card for zip file and names of volunteers:

[Publishing Task card](https://trello.com/c/xIhnEchI/302-publish-reliquiaesacraes02rout-mj-routh-reliquiae-sacrae-vol-2-2nd-edn-oxford-oxford-university-press-1846)
[Editing Task card](https://trello.com/c/8tn0ymdh/256-edit-reliquiaesacraes02rout-mj-routh-reliquiae-sacrae-vol-2-2nd-edn-oxford-oxford-university-press-1846)

[2021-08-24 14:33] ahanhardt opened #2491 "(urn:cts:greekLit:tlg1626.tlg001.1st1K-grc1) new edition"
Please see Trello card for zip file and names of volunteers:

[Publishing Task card](https://trello.com/c/xIhnEchI/302-publish-reliquiaesacraes02rout-mj-routh-reliquiae-sacrae-vol-2-2nd-edn-oxford-oxford-university-press-1846)
[Editing Task card](https://trello.com/c/8tn0ymdh/256-edit-reliquiaesacraes02rout-mj-routh-reliquiae-sacrae-vol-2-2nd-edn-oxford-oxford-university-press-1846)

[2021-08-24 14:33] ahanhardt opened #2492 "(urn:cts:greekLit:tlg1447.tlg009.1st1K-grc1) new edition"
Please see Trello card for zip file and names of volunteers:

[Publishing Task card](https://trello.com/c/xIhnEchI/302-publish-reliquiaesacraes02rout-mj-routh-reliquiae-sacrae-vol-2-2nd-edn-oxford-oxford-university-press-1846)
[Editing Task card](https://trello.com/c/8tn0ymdh/256-edit-reliquiaesacraes02rout-mj-routh-reliquiae-sacrae-vol-2-2nd-edn-oxford-oxford-university-press-1846)

[2021-08-24 15:47] ahanhardt opened #2493 "(urn:cts:greekLit:tlg2023.tlg003.1st1K-grc1) new edition"
Please see Trello card for zip file and names of volunteers:

[Publishing Task card](https://trello.com/c/2QrIG1fd/303-publish-iamblichidecommu0000iamb)
[Editing Task card](https://trello.com/c/nQpOxW15/265-edit-iamblichidecommu0000iamb)

[2021-08-24 15:55] ahanhardt opened #2494 "(urn:cts:greekLit:tlg5023.tlg016.1st1K-grc1) new edition"
Please see Trello card for zip file and names of volunteers:

[Publishing Task card](https://trello.com/c/K4eQZ2m6/304-publish-scholiagraecaine03dind)
[Editing Task card](https://trello.com/c/u0HtPpit/281-edit-scholiagraecaine03dind)

[2021-08-24 16:26] ahanhardt opened #2495 "(urn:cts:greekLit:tlg5023.tlg015.1st1K-grc1) new edition"
Please see Trello card for zip file and names of volunteers:

[Publishing Task card](https://trello.com/c/dGxb2fIq/305-publish-scholiagraecaine02dind)
[Editing Task card](https://trello.com/c/8X3wsDzR/280-edit-scholiagraecaine02dind)

[2021-08-24 16:51] ahanhardt opened #2496 "(urn:cts:greekLit:tlg1402) new editions"
2 Hephaestion texts in this volume:

- urn:cts:greekLit:tlg1402.tlg001.1st1K-grc1
- urn:cts:greekLit:tlg1402.tlg004.1st1K-grc1

Please see Trello card for zip file and names of volunteers:

[Publishing Task card](https://trello.com/c/1auy36xs/306-publish-hephaestionisenc00hephuoft-hephaestionis-enchiridion-8k-words)
[Editing Task card](https://trello.com/c/BaKkNOga/277-edit-hephaestionisenc00hephu

[2021-08-24 17:55] #2398 closed

[2021-08-25 20:41] ahanhardt opened #2497 "(urn:cts:greekLit:tlg1304.tlg002.1st1K-grc1) new edition"
Please see Trello card for zip file and names of volunteers:

[Publishing Task card](https://trello.com/c/Q1idNLNd/307-publish-diefragmentederv02dieluoft)
[Editing Task card](https://trello.com/c/uS56wDEu/236-edit-diefragmentederv02dieluoft)

[2021-08-25 20:42] ahanhardt opened #2498 "(urn:cts:greekLit:tlg1390.tlg004.1st1K-grc1) new edition"
Please see Trello card for zip file and names of volunteers:

[Publishing Task card](https://trello.com/c/Q1idNLNd/307-publish-diefragmentederv02dieluoft)
[Editing Task card](https://trello.com/c/uS56wDEu/236-edit-diefragmentederv02dieluoft)

[2021-08-25 20:42] ahanhardt opened #2499 "(urn:cts:greekLit:tlg0579.010.1st1K-grc1) new edition"
Please see Trello card for zip file and names of volunteers:

[Publishing Task card](https://trello.com/c/Q1idNLNd/307-publish-diefragmentederv02dieluoft)
[Editing Task card](https://trello.com/c/uS56wDEu/236-edit-diefragmentederv02dieluoft)

[2021-08-25 20:43] ahanhardt opened #2500 "(urn:cts:greekLit:tlg2691.tlg002.1st1K-grc1) new edition"
Please see Trello card for zip file and names of volunteers:

[Publishing Task card](https://trello.com/c/Q1idNLNd/307-publish-diefragmentederv02dieluoft)
[Editing Task card](https://trello.com/c/uS56wDEu/236-edit-diefragmentederv02dieluoft)

[2021-08-25 20:43] ahanhardt opened #2501 "(urn:cts:greekLit:tlg1434.tlg004.1st1K-grc1) new edition"
Please see Trello card for zip file and names of volunteers:

[Publishing Task card](https://trello.com/c/Q1idNLNd/307-publish-diefragmentederv02dieluoft)
[Editing Task card](https://trello.com/c/uS56wDEu/236-edit-diefragmentederv02dieluoft)

[2021-08-25 20:43] ahanhardt opened #2502 "(urn:cts:greekLit:tlg1347.tlg004.1st1K-grc1) new edition"
Please see Trello card for zip file and names of volunteers:

[Publishing Task card](https://trello.com/c/Q1idNLNd/307-publish-diefragmentederv02dieluoft)
[Editing Task card](https://trello.com/c/uS56wDEu/236-edit-diefragmentederv02dieluoft)

[2021-08-25 20:44] ahanhardt opened #2503 "(urn:cts:greekLit:tlg1634.tlg002.1st1K-grc1) new edition"
Please see Trello card for zip file and names of volunteers:

[Publishing Task card](https://trello.com/c/Q1idNLNd/307-publish-diefragmentederv02dieluoft)
[Editing Task card](https://trello.com/c/uS56wDEu/236-edit-diefragmentederv02dieluoft)

[2021-08-25 20:44] ahanhardt opened #2504 "(urn:cts:greekLit:tlg1147.tlg003.1st1K-grc1) new edition"
Please see Trello card for zip file and names of volunteers:

[Publishing Task card](https://trello.com/c/Q1idNLNd/307-publish-diefragmentederv02dieluoft)
[Editing Task card](https://trello.com/c/uS56wDEu/236-edit-diefragmentederv02dieluoft)

[2021-08-25 20:45] ahanhardt opened #2505 "(urn:cts:greekLit:tlg0319.tlg004.1st1K-grc1) new edition"
Please see Trello card for zip file and names of volunteers:

[Publishing Task card](https://trello.com/c/Q1idNLNd/307-publish-diefragmentederv02dieluoft)
[Editing Task card](https://trello.com/c/uS56wDEu/236-edit-diefragmentederv02dieluoft)

[2021-08-25 20:45] ahanhardt opened #2506 "(urn:cts:greekLit:tlg1134.tlg001.1st1K-grc1) new edition"
Please see Trello card for zip file and names of volunteers:

[Publishing Task card](https://trello.com/c/Q1idNLNd/307-publish-diefragmentederv02dieluoft)
[Editing Task card](https://trello.com/c/uS56wDEu/236-edit-diefragmentederv02dieluoft)

[2021-08-25 20:46] ahanhardt opened #2507 "(urn:cts:greekLit:tlg1309.tlg001.1st1K-grc1) new edition"
Please see Trello card for zip file and names of volunteers:

[Publishing Task card](https://trello.com/c/Q1idNLNd/307-publish-diefragmentederv02dieluoft)
[Editing Task card](https://trello.com/c/uS56wDEu/236-edit-diefragmentederv02dieluoft)

[2021-08-25 21:00] ahanhardt opened #2508 "(urn:cts:greekLit:tlg1602.tlg001.1st1K-grc1) new edition"
Please see Trello card for zip file and names of editors:

[Publishing Tasks card](https://trello.com/c/gYVD4RFx/308-publish-grammaticaeroma01funagoog-grammaticae-romanae-fragmenta)
[Editing Tasks card](https://trello.com/c/sRFcMOsX/252-edit-grammaticaeroma01funagoog-grammaticae-romanae-fragmenta)

[2021-08-28 19:22] brobertson opened #2509 "(urn.cts.greekLit.tlg01287.tlg001.1st1K-grc1) new edition"
[urn.cts.greekLit.tlg01287.tlg001.1st1K-grc1.xml.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7071329/urn.cts.greekLit.tlg01287.tlg001.1st1K-grc1.xml.zip)

This text has been cleaned of wrong Greek characters, dehyphenated and had excess text removed. Its header has not been touched.

[2021-08-28 19:23] brobertson opened #2510 "(urn.cts.greekLit.tlg0634.tlg001.1st1K-grc1.xml) new edition"
[urn.cts.greekLit.tlg0634.tlg001.1st1K-grc1.xml.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7071338/urn.cts.greekLit.tlg0634.tlg001.1st1K-grc1.xml.zip)

This text has been cleaned of wrong Greek characters, dehyphenated and had excess text removed. Its header has not been touched.

[2021-08-28 19:24] brobertson opened #2511 "(urn.cts.greekLit.tlg1188.tlg002.1st1K-grc1.xml) new edition"
[urn.cts.greekLit.tlg1188.tlg002.1st1K-grc1.xml.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7071347/urn.cts.greekLit.tlg1188.tlg002.1st1K-grc1.xml.zip)

This text has been cleaned of wrong Greek characters, dehyphenated and had excess text removed. Its header has not been touched.

[2021-08-28 19:24] brobertson opened #2512 "(urn.cts.greekLit.tlg1542.tlg001.1st1K-grc1.xml) new edition"
[urn.cts.greekLit.tlg1542.tlg001.1st1K-grc1.xml.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7071352/urn.cts.greekLit.tlg1542.tlg001.1st1K-grc1.xml.zip)

This text has been cleaned of wrong Greek characters, dehyphenated and had excess text removed. Its header has not been touched.

[2021-08-28 19:25] brobertson opened #2513 "(urn.cts.greekLit.tlg1692.tlg005.1st1K-grc1.xml) new edition"
[urn.cts.greekLit.tlg1692.tlg005.1st1K-grc1.xml.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7071355/urn.cts.greekLit.tlg1692.tlg005.1st1K-grc1.xml.zip)

This text has been cleaned of wrong Greek characters, dehyphenated and had excess text removed. Its header has not been touched.

[2021-08-28 19:26] brobertson opened #2514 "(urn.cts.greekLit.tlg2049.tlg001.1st1K-grc1.xml) new edition"
[urn.cts.greekLit.tlg2049.tlg001.1st1K-grc1.xml.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7071366/urn.cts.greekLit.tlg2049.tlg001.1st1K-grc1.xml.zip)

This text has been cleaned of wrong Greek characters, dehyphenated and had excess text removed. Its header has not been touched.

[2021-08-28 19:26] brobertson opened #2515 "(urn.cts.greekLit.tlg2640.tlg001.1st1K-grc1.xml) new edition"
[urn.cts.greekLit.tlg2640.tlg001.1st1K-grc1.xml.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7071367/urn.cts.greekLit.tlg2640.tlg001.1st1K-grc1.xml.zip)

This text has been cleaned of wrong Greek characters, dehyphenated and had excess text removed. Its header has not been touched.

[2021-08-28 19:27] brobertson opened #2516 "(urn.cts.greekLit.tlg2970.tlg001.1st1K-grc1.xml) new edition"
[urn.cts.greekLit.tlg2970.tlg001.1st1K-grc1.xml.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7071370/urn.cts.greekLit.tlg2970.tlg001.1st1K-grc1.xml.zip)

This text has been cleaned of wrong Greek characters, dehyphenated and had excess text removed. Its header has not been touched.

[2021-08-30 13:45] charhoughton commented on #2516
publishing card: https://trello.com/c/89jHbllI/284-publish-fragmentaphiloso03mulluoft with volunteer names
editing card: https://trello.com/c/SPDEP2G7/195-edit-fragmentaphiloso03mulluoft

[2021-08-30 13:45] charhoughton commented on #2515
publishing card: https://trello.com/c/89jHbllI/284-publish-fragmentaphiloso03mulluoft with volunteer names
editing card: https://trello.com/c/SPDEP2G7/195-edit-fragmentaphiloso03mulluoft

[2021-08-30 13:45] charhoughton commented on #2513
publishing card: https://trello.com/c/89jHbllI/284-publish-fragmentaphiloso03mulluoft with volunteer names
editing card: https://trello.com/c/SPDEP2G7/195-edit-fragmentaphiloso03mulluoft

[2021-08-30 13:45] charhoughton commented on #2512
publishing card: https://trello.com/c/89jHbllI/284-publish-fragmentaphiloso03mulluoft with volunteer names
editing card: https://trello.com/c/SPDEP2G7/195-edit-fragmentaphiloso03mulluoft

[2021-08-30 13:45] charhoughton commented on #2511
publishing card: https://trello.com/c/89jHbllI/284-publish-fragmentaphiloso03mulluoft with volunteer names
editing card: https://trello.com/c/SPDEP2G7/195-edit-fragmentaphiloso03mulluoft

[2021-08-30 13:46] charhoughton commented on #2510
publishing card: https://trello.com/c/89jHbllI/284-publish-fragmentaphiloso03mulluoft with volunteer names
editing card: https://trello.com/c/SPDEP2G7/195-edit-fragmentaphiloso03mulluoft

[2021-08-30 13:46] charhoughton commented on #2509
publishing card: https://trello.com/c/89jHbllI/284-publish-fragmentaphiloso03mulluoft with volunteer names
editing card: https://trello.com/c/SPDEP2G7/195-edit-fragmentaphiloso03mulluoft

[2021-08-30 13:46] #2442 closed

[2021-08-30 13:47] charhoughton commented on #2442
duplicate issue created 8/30/21

[2021-08-30 13:47] charhoughton commented on #2441
duplicate issue created 8/30/21

[2021-08-30 13:47] #2441 closed

[2021-08-30 13:48] charhoughton commented on #2440
duplicate issue created 8/30/21 #2516

[2021-08-30 13:48] #2440 closed

[2021-08-30 13:49] charhoughton commented on #2439
duplicate issue created 8/30/21 #2514

[2021-08-30 13:49] #2439 closed

[2021-08-30 13:49] charhoughton commented on #2438
duplicate issue created 8/30/21 #2512

[2021-08-30 13:49] #2438 closed

[2021-08-30 13:49] charhoughton commented on #2437
duplicate issue created 8/30/21 #2515

[2021-08-30 13:49] #2437 closed

[2021-08-30 13:50] charhoughton commented on #2436
duplicate issue created 8/30/21 #2509

[2021-08-30 13:50] #2436 closed

[2021-08-30 13:50] charhoughton commented on #2435
duplicate issue created 8/30/21 #2511

[2021-08-30 13:50] #2435 closed

[2021-08-30 20:09] charhoughton commented on #2407
@lcerrato initial markup completed
[Archive.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7079353/Archive.zip)

[2021-08-30 20:26] charhoughton commented on #2408
claiming

[2021-08-31 17:02] charhoughton commented on #2408
@lcerrato initial markup completed
[Archive.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7085586/Archive.zip)

[2021-08-31 17:02] charhoughton commented on #2409
claiming for initial markup

[2021-09-02 16:11] lcerrato commented on #2363
Scholia not completely encoded with links to source documents or language codes on various witnesses.

[2021-09-02 17:33] #2363 closed

[2021-09-06 17:13] ahanhardt commented on #2475
@lcerrato File with header work and initial markup completed:
[urn.cts.greekLit.tlg0087.tlg001.1st1K-grc1.xml.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7117269/urn.cts.greekLit.tlg0087.tlg001.1st1K-grc1.xml.zip)

[2021-09-06 17:45] charhoughton commented on #2409
@lcerrato initial markup completed
[tlg5031.tlg002.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7117339/tlg5031.tlg002.zip)

[2021-09-06 17:47] charhoughton commented on #2426
claiming

[2021-09-06 18:48] charhoughton commented on #2426
@lcerrato initial markup
[tlg0057.tlg033.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7117519/tlg0057.tlg033.zip)

[2021-09-06 18:53] charhoughton commented on #2470
claiming

[2021-09-06 21:37] charhoughton commented on #2470
@lcerrato initial markup completed
[tlg1146.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7117864/tlg1146.zip)

[2021-09-07 17:48] ahanhardt commented on #2483
claiming for header work and initial markup!

[2021-09-08 15:44] #2396 closed

[2021-09-08 17:25] lcerrato commented on #2397
@charhoughton
Thank you! This was great. I know the interspersed Latin is a pain.

[2021-09-08 18:21] lcerrato commented on #2397
NB Books 5 and 6 not found.

[2021-09-09 02:18] charhoughton commented on #2471
claiming for initial markup

[2021-09-09 16:30] ahanhardt commented on #2483
header work and initial markup complete
[tlg1271.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7138235/tlg1271.zip)

[2021-09-09 16:51] lcerrato commented on #2402
@charhoughton
A quick note. When you have a block quote, you only need to indicate a line break when there is a multiline quote (such as Homer). And then, if you use `<lb/>`, just do this at the start of each line. (Or wrap each line with `<l>` — same thing. `<l>` can be more useful if you have further indentation within the blockquote).

You do not need a `<lb/>` for a single quotation line. The

[2021-09-09 17:06] lcerrato commented on #2402
@AlisonBabeu
Thank you for the cataloging note.
I edited the other cts files in this set as the author name was not in Latin.

[2021-09-09 17:29] charhoughton commented on #2402
@lcerrato thanks for the note! I'd noticed that the line mode in LACE adds <lb/>s at the start and end of quotes, but I'll remove them from now on since they're redundant.

[2021-09-09 17:53] ahanhardt commented on #2493
Claiming for header work and initial markup

[2021-09-09 17:59] lcerrato commented on #2402
@charhoughton
Yes, line mode would add that. For future volunteer trainings, we should discuss if we want the volunteers to capture that information or not.
Either we add blockquotes in the tagging pass by paging through and looking for the block quotes (something that is part of my checklist), or the Lace teams are adding it via line mode. The former is a little more work, but something I'm used

[2021-09-09 18:33] lcerrato commented on #2371
Closing as this appears to have been a duplicate/error.

[2021-09-09 18:33] #2371 closed

[2021-09-09 23:12] lcerrato commented on #2406
Added `xml:base` attribute to lines. Removed duplicate line numbers.

[2021-09-09 23:16] lcerrato commented on #2406
NB extra lines in poetry/drama are indicated by appending a "b" (c, d, e, etc.)

[2021-09-10 00:58] ahanhardt commented on #2493
@lcerrato @charhoughton header and initial markup work complete
[urn.cts.greekLit.tlg2023.tlg003.1st1K-grc1.xml.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7140518/urn.cts.greekLit.tlg2023.tlg003.1st1K-grc1.xml.zip)

[2021-09-10 01:10] #2382 closed

[2021-09-10 01:10] #2397 closed

[2021-09-10 01:10] #2399 closed

[2021-09-10 01:10] #2400 closed

[2021-09-10 01:10] #2402 closed

[2021-09-10 01:10] #2406 closed

[2021-09-10 01:10] #2407 closed

[2021-09-10 16:09] ahanhardt opened #2520 "Report an issue: urn:cts:greekLit:tlg1193.tlg001.1st1K-grc1:333-337"
[tlg1193.tlg001.1st1K-grc1.xml](https://github.com/OpenGreekAndLatin/First1KGreek/tree/cdacf1f/data/tlg1193/tlg001/tlg1193.tlg001.1st1K-grc1.xml)

Pria has alerted me that she misspelled one of her volunteer's names, so every time she is mentioned in the attributions it is spelled wrong... Rather than Sana Igbal Ansari, it should be Sana I_q_bal Ansari.

Her name can also be found in these texts'

[2021-09-10 17:30] lcerrato commented on #2520
@ahanhardt I just committed a change for the files listed above. (Per find and replace)

[2021-09-10 22:47] lcerrato commented on #2414
Part of Epistolographi Graechi Hercher set.
See https://trello.com/c/8wJtpIsB/202-publishing-epistolographoih00hercuoft for updates.

Missing 10 more letters in this set.

[2021-09-14 18:16] charhoughton commented on #2471
@lcerrato what's the best way to format what appears to be a verse fragment? See here: https://archive.org/details/stoicorumveterum03arniuoft/page/96/mode/1up, frag. 397. It doesn't look like a quotation to me. It's just not something I've come across before, so I wanted to check.

[2021-09-16 23:49] #2408 closed

[2021-09-16 23:49] #2409 closed

[2021-09-16 23:49] #2415 closed

[2021-09-16 23:49] #2520 closed

[2021-09-20 19:49] charhoughton commented on #2471
@lcerrato initial markup and formatting completed. It was a big file and needed a lot of restructuring, so if there are big things I missed or need to fix, please let me know and I'll be happy to take another close look at it.
[tlg1264.tlg002.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7198362/tlg1264.tlg002.zip)

[2021-09-21 17:08] charhoughton commented on #2472
@lcerrato initial markup completed
[tlg1264.tlg003.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7205005/tlg1264.tlg003.zip)
.

[2021-09-21 18:15] lcerrato commented on #2471
@charhoughton
Thank you! I'll take a look. I am working on similar files now, with a lot of interspersed different languages and bracketed info so I know what a pain this is.

At first glance, we probably want `head` instead of `label` and some of the labels are greek but mis-tagged latin. I tend to restrict labels to non-text info that is digits or section numbering in Greek or something similar.

[2021-09-21 18:17] lcerrato commented on #2417
renamed

[2021-09-21 18:41] charhoughton commented on #2471
@lcerrato many thanks! I think some of the other bibliographic references within divs were tagged as ```<bibl>``` but I know I didn't get ones that were just numbers. As for when to use ```<label>``` vs <```head>```, thanks for letting me know about that. The headers in this text are definitely a pain with the fragment divs!

[2021-09-21 19:06] lcerrato commented on #2471
@charhoughton
Yes, it's hard to know what a random digit (or a dash and digit, or bracketed digit) is doing in a file until you dive in. Fortunately, I can locate these pretty easily and try to tag them.
Plus, it's **not** the end of the world if they aren't fixed in any given pass.....

[2021-09-22 15:45] lcerrato commented on #2471
+72,251 words!

[2021-09-22 16:42] lcerrato commented on #2418
https://github.com/PerseusDL/catalog_pending/issues/116

[2021-09-22 17:31] lcerrato commented on #2419
https://github.com/PerseusDL/catalog_pending/issues/117

[2021-09-22 18:50] #2419 closed

[2021-09-22 20:14] lcerrato commented on #2414
This is not from Hercher but rather from Diels and has been misnamed.

[2021-09-23 01:14] lcerrato commented on #2414
3,734 words

[2021-09-24 20:13] lcerrato commented on #2428
67,569 words

[2021-09-24 20:15] lcerrato commented on #2428
Note this is a Latin text so it will go into https://github.com/OpenGreekAndLatin/Latin

[2021-09-24 20:17] #2428 closed

[2021-09-27 20:11] charhoughton commented on #2450
claiming

[2021-09-28 15:27] charhoughton opened #2530 "(urn:cts:greekLit:tlg1271.tlg010.1st1K-grc1) new edition"
See [trello editing card](https://trello.com/c/OsspnXxW/274-edit-mdp-39015047659480-patres-apostolici-21k-words) for volunteer names and notes on text.

[2021-09-28 15:28] charhoughton opened #2531 "(urn:cts:greekLit:tlg1443.tlg002.1st1K-grc1) new edition"
See [trello editing card](https://trello.com/c/OsspnXxW/274-edit-mdp-39015047659480-patres-apostolici-21k-words) for volunteer names and notes on text.

[2021-09-28 18:25] charhoughton commented on #2450
@lcerrato initial markup and formatting completed
[tlg2023.tlg001.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7246527/tlg2023.tlg001.zip)

[2021-09-28 18:56] charhoughton opened #2532 "(urn:cts:greekLit:tlg.0096.tlg002.opp-grc3) new edition"
see [trello editing card](https://trello.com/c/NXnS0gFp/157-zone-and-urn-chambrys-aesop-894469813v1-and-894469813v2) for info

[2021-09-28 18:57] charhoughton opened #2533 "(urn:cts:greekLit:tlg.0096.tlg003.1st1K-grc1) new edition"
see [Trello](https://trello.com/c/NXnS0gFp/157-zone-and-urn-chambrys-aesop-894469813v1-and-894469813v2) editing card for info

[2021-09-28 18:57] charhoughton opened #2534 "(urn:cts:greekLit:tlg.0096.tlg010.1st1K-grc1) new edition"
see [trello editing card](https://trello.com/c/NXnS0gFp/157-zone-and-urn-chambrys-aesop-894469813v1-and-894469813v2) for info

[2021-09-28 18:58] charhoughton opened #2535 "(urn:cts:greekLit:tlg.0096.tlg012.1st1K-grc1) new edition"
see [trello editing card ](https://trello.com/c/NXnS0gFp/157-zone-and-urn-chambrys-aesop-894469813v1-and-894469813v2)for info

[2021-09-30 19:18] charhoughton commented on #2453
claiming

[2021-09-30 20:40] charhoughton commented on #2453
@lcerrato initial markup completed
[tlg1383.tlg001.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7262373/tlg1383.tlg001.zip)

[2021-10-05 15:12] charhoughton commented on #2469
claiming

[2021-10-05 15:20] charhoughton commented on #2473
claiming

[2021-10-05 16:21] lcerrato commented on #2434
169,279 |  18;4812;7352

[2021-10-05 16:41] lcerrato commented on #2469
@charhoughton
With Aristotle, we have some files where we enter our own containers to keep from splitting across Bekker pages. You may want to pass on this one so I can revisit that policy and approach.

[2021-10-05 16:47] charhoughton commented on #2469
@lcerrato I'm actually leaving these alone for now--my computer can't really handle xml files if the text is all one giant line (like these), so I usually check for files that Bruce has exported from lace and done some processing/standardizing on. (yes, it's a huge pain but helpful in this case, I suppose)

[2021-10-05 18:13] #2414 closed

[2021-10-05 18:13] #2426 closed

[2021-10-05 18:13] #2432 closed

[2021-10-05 18:13] #2434 closed

[2021-10-05 18:25] charhoughton commented on #2473
@lcerrato initial markup completed
[tlg1264.tlg004.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7288310/tlg1264.tlg004.zip)

[2021-10-05 20:18] lcerrato commented on #2469
@charhoughton
Good plan.
(Yes, some of these files need some indentation to work with them efficiently.)

[2021-10-08 18:42] charhoughton commented on #2474
@lcerrato initial markup completed
[tlg1320.tlg001.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7313528/tlg1320.tlg001.zip)

[2021-10-12 17:17] lcerrato commented on #2480
@charhoughton
I think that containers will be the book and line, so those reference digits will be found in the divs themselves.

(The first div should be book 1, line 2 (= 1.2), if there is a span, it can be 303_305.

You can, of course, keep the line numbers as `<labels>` if you think it will help clear up confusion. (I see there are some spans of text here, so when I know a text has those, I li

[2021-10-12 19:37] lcerrato commented on #2480
@charhoughton

If you're already going to wade through this, then anything that appears to be a quotation could/should be tagged as such, yes. I didn't suggest it because there are going to be so many (at least one per book/line, in most cases).

If it's clear it's a quotation, then you could just tag it as just an ordinary `<quote>` with `<l>` wrapping the lines  or `<lb/>` where any subsequent l

[2021-10-14 16:13] AlisonBabeu opened #2541 "(tlg1216.tlg001)-Duplicate editions of Barnabas"
So @lcerrato I'm looking for some advice here.

It appears we have two versions of the Greek text of Barnabas Epistula in the Scaife Collection.
One is tlg1216.tlg001.opp-grc1 and the other is tlg1216.tlg001.perseus-grc2 (https://scaife.perseus.org/library/urn:cts:greekLit:tlg1216.tlg001/).

Since one is from Perseus and one is from OGL should we just have them both in the collection, or should we

[2021-10-14 16:45] lcerrato commented on #2541
I did the conversion of the Perseus edition while working on the Apostolic Fathers for James.
I see lots of missing info in the OGL file (beta code, no tagged Latin in notes etc.).

It would be preferable to do a diff of the files and see whether one or the other has more/less information. (Perseus did not often capture notes and app crit, for instance) and then I would probably ingest those chang

[2021-10-14 21:34] brobertson opened #2543 "(urn.cts.greekLit.tlg0529.tlg002.1st1K-grc1) new edition"
[urn.cts.greekLit.tlg0529.tlg002.1st1K-grc1.xml.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7349541/urn.cts.greekLit.tlg0529.tlg002.1st1K-grc1.xml.zip)

[2021-10-14 23:02] brobertson opened #2544 "(urn.cts.greekLit.tlg1548.tlg001.1st1K-grc1) new edition"
[urn.cts.greekLit.tlg1548.tlg001.1st1K-grc1.xml.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7349798/urn.cts.greekLit.tlg1548.tlg001.1st1K-grc1.xml.zip)

[2021-10-15 11:18] brobertson commented on #2544
CF #2476

[2021-10-15 20:28] brobertson opened #2545 "(urn.cts.greekLit.tlg0086.tlg036.1st1K-grc1) new edition"
[urn.cts.greekLit.tlg0086.tlg036.1st1K-grc1.xml.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7355888/urn.cts.greekLit.tlg0086.tlg036.1st1K-grc1.xml.zip)

Greek cleaned, numbers removed. Header needs ref. decls fixed and contributing persons.

= aristproblemataruelle

[2021-10-18 15:56] lcerrato commented on #2468
@charhoughton
I don't see the file?

[2021-10-18 16:48] charhoughton commented on #2460
Yes, I know Bruce for a while was doing some work on files between the Lace export and XML work, so I held off on adding files. Here's the raw file from LACE:
[poetaeminoresgra02gais.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7367146/poetaeminoresgra02gais.zip)

[2021-10-18 17:10] charhoughton commented on #2468
Here you go:
[GaisfordEclogaePropheticae.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7367309/GaisfordEclogaePropheticae.zip)

[2021-10-18 17:11] lcerrato commented on #2460
@charhoughton
Thanks. I know there are some files I've skipped for that reason. Just working backwards. (Plenty of other stuff to do!)

[2021-10-18 17:58] lcerrato commented on #2468
@charhoughton Thanks!

[2021-10-19 01:50] AlisonBabeu commented on #2457
Yes, there are a one or two more Origen files in the First1K pipeline that I am waiting on to edit before I close this issue.

[2021-10-21 17:42] lcerrato commented on #2469
+52,151 words

[2021-11-02 23:30] AlisonBabeu opened #2551 "(tlg0550.tlg001.1st1K.grc1)-file incomplete"
This file needs to be combined with the other 3 books of the work that were in Volume 1 and that are still in the private DDD repository (https://github.com/OpenGreekAndLatin/DDD_XML/blob/master/tlg0550.tlg001.1st1K-grc1(only%20volume%201).xml)

[2021-11-06 19:48] scottste opened #2554 "Typo in urn:cts:greekLit:tlg0527.tlg001.opp-grc2:1"
I believe there's an error in Genesis 1:3 - urn:cts:greekLit:tlg0527.tlg001.opp-grc2:1 The line currently reads:

καὶ εἶπεν ὁ θήτω φῶς· καὶ ἐγένετο φῶς.

I think it should be:

καὶ εἶπεν ὁ **θεός Γενη**θήτω φῶς. καὶ ἐγένετο φῶς.

I would fill out a pull request, but I'm not sure where to put the text in relation to the line break.

https://github.com/OpenGreekAndLatin/First1KGreek/blob/2cc9bca6b94

[2021-11-09 14:54] charhoughton commented on #2481
@lcerrato initial markup completed. There were several hanging indents, which are currently in there as ```<p rend="hanging">```, but I have no idea if that's what we actually use.
[tlg1129.tlg001.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7505650/tlg1129.tlg001.zip)

[2021-11-09 14:54] charhoughton commented on #2482
@lcerrato initial markup completed. There were several hanging indents, which are currently in there as ```<p rend="hanging">```, but I have no idea if that's what we actually use.
[tlg1129.tlg001.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7505650/tlg1129.tlg001.zip)

[2021-11-09 17:23] lcerrato commented on #2554
@scottste
Any help would be appreciated, but I think that a simple issue with a note that this needs further work is sufficient.

Some of the early work had issues with the data capture around line breaks and end of pages as well as uncorrected hyphenation. Many of these texts will need a full review for these problems. The volume of this work is extensive and we need a collection-wide review of t

[2021-11-09 18:11] lcerrato commented on #2482
@charhoughton
I do not see any existing precedent for a hanging indent but it would probably be something like `<p rend="indent(hang)">`.
I have also seen `<lb rend="indent"/>` on the specific (subsequent) indented lines (as opposed to the paragraph).

[2021-11-10 15:37] charhoughton commented on #2482
@lcerrato thanks for letting me know! I was mostly just marking up the format as precisely as possible, without knowing how (or if) it's handled in the rest of the OGL texts. I'll fix that and attach the updated file in the next day or so.

[2021-11-10 16:22] lcerrato commented on #2482
@charhoughton
It's a good reminder that I should post an updated tag set and attribute list. I generally just inventory what I have and look there. I am woefully behind on the wiki postings for this sort of thing.

Anything you can do is very much appreciated.

[2021-11-10 18:28] AlisonBabeu opened #2556 "(tlg4102.tlg013)_Work file also contains texts of five other works"
tlg4102.tlg013-according to the TLG this work (Catena in epistulam ii ad Corinthios (catena Pseudo‑Oecumenii) (e cod‑ Paris‑ gr‑ 223) also contains the texts of works tlg4102.tlg014 to tlg4102.tlg018

Work tlg4102.tlg013 should end on page 444 of the TEI-XML file.

[2021-11-11 15:13] charhoughton commented on #2482
@lcerrato updated file attached:
[tlg1129.tlg001.1st1K-grc1.xml.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7521372/tlg1129.tlg001.1st1K-grc1.xml.zip)

[2021-11-11 16:28] charhoughton commented on #2484
@lcerrato initial markup completed
[tlg1414.tlg001.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7521810/tlg1414.tlg001.zip)

[2021-11-11 16:29] charhoughton commented on #2485
claiming for markup

[2021-11-15 18:05] AlisonBabeu commented on #1642
So I'm finally going to tackle this file separation. Soon.

[2021-11-19 18:48] charhoughton commented on #2485
@lcerrato initial markup completed on all 3 files
[tlg0533.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7572344/tlg0533.zip)

[2021-11-22 19:18] lcerrato opened #2562 "(urn:cts:greekLit:tlg1413.tlg001.1st1K-eng1) new edition"
per https://github.com/PerseusDL/catalog_pending/issues/126
[tlg1413.tlg001.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7583790/tlg1413.tlg001.zip)

[2021-11-22 19:23] charhoughton commented on #2487
@lcerrato initial markup done for all texts:
[tlg1699.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7583817/tlg1699.zip)

[2021-11-22 19:24] charhoughton commented on #2488
claiming for markup

[2021-11-22 21:40] charhoughton commented on #2488
@lcerrato initial markup completed. There were two other sets of page numbers preserved in the margins, so those are coded as ```<milestone>```s.
[tlg0564.tlg001.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7584547/tlg0564.tlg001.zip)

[2021-11-29 16:12] AlisonBabeu opened #2563 "Textgroup standardization-Removing dates from author names."
Also will be doing this in CSEL textgroups.

[2021-11-29 18:27] lcerrato commented on #2264
@charhoughton
Doing a review of all of the pending issues and checking out the things we put on hold. Do you have a partially completed file you may want to attach to this issue? That way we can preserve your efforts but continue working on the other materials in the meantime.

[2021-11-29 18:54] #2468 closed

[2021-11-29 20:14] lcerrato commented on #2332
resubmitted via duplicate issue #2545

[2021-11-29 20:14] lcerrato commented on #2545
See #2332; copied and attaching file there for clarity.

[2021-11-29 20:14] #2545 closed

[2021-11-29 20:15] lcerrato commented on #2332
[urn.cts.greekLit.tlg0086.tlg036.1st1K-grc1.xml.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7620872/urn.cts.greekLit.tlg0086.tlg036.1st1K-grc1.xml.zip)

[2021-11-29 21:05] lcerrato commented on #2470
@charhoughton
This work is amazing!

[2021-11-29 21:18] charhoughton commented on #2264
@lcerrato I do! It should have most languages, <bibl> at the start of fragments, and a good chunk of quotation marks tagged already. I haven't really looked at it in a year, so it's a little messy.
[tlg1264.tlg001.1st1K-grc1.xml.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7621191/tlg1264.tlg001.1st1K-grc1.xml.zip)

[2021-11-29 21:25] lcerrato commented on #2264
@charhoughton
Thanks! something is better than nothing.

[2021-11-29 21:26] charhoughton commented on #2543
claiming

[2021-11-29 21:33] lcerrato commented on #2470
4715 words

[2021-11-30 00:10] #2470 closed

[2021-11-30 02:35] lcerrato commented on #2473
changed sections to fragments

[2021-12-02 09:27] SarriGreek opened #2568 "Report an issue: urn:cts:greekLit:tlg0082.tlg001.1st1K-grc1:233"
[tlg0082.tlg001.1st1K-grc1.xml](https://github.com/OpenGreekAndLatin/First1KGreek/tree/afda8cd/data/tlg0082/tlg001/tlg0082.tlg001.1st1K-grc1.xml)

[2021-12-02 09:28] SarriGreek commented on #2568
ἀντὶ ἑνκοῦ = ἀντὶ ἑνικοῦ

[2021-12-02 18:26] lcerrato commented on #2568
report confirmed via:
https://babel.hathitrust.org/cgi/pt?id=njp.32101054496045&view=2up&seq=137&skin=2021&size=150

[2021-12-03 17:20] charhoughton commented on #2481
@AlisonBabeu the XML file attached to this issue is listed as tlg1416.tlg007.1st1K-grc1, which isn't in public domain according to the picklist. The text in the file matches the scan attached to 1416.001, however. Can you confirm that URN is an error and this is 1416.001? Thanks!

[2021-12-03 17:24] charhoughton commented on #2477
Duplicate issue; see #2543 for most recent info

[2021-12-03 17:24] #2477 closed

[2021-12-03 18:24] charhoughton commented on #2490
@lcerrato initial markup completed
[tlg0572.tlg001.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7651621/tlg0572.tlg001.zip)

[2021-12-03 19:08] AlisonBabeu commented on #2481
hi @charhoughton this is embarrassing I must admit but where can I look at the XML file to confirm that it is indeed the correct work? :)

[2021-12-03 19:11] charhoughton commented on #2481
@AlisonBabeu not embarrassing at all, just complicated--it's linked in the trello publishing task card. I was looking specifically at at the 8/31 version.

[2021-12-03 19:13] charhoughton commented on #2489
@lcerrato initial markup.
[tlg1131.tlg001.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7651850/tlg1131.tlg001.zip)

[2021-12-03 21:59] AlisonBabeu commented on #2481
Hi @charhoughton having looked at the text and at the scanned images, I think you are quite correct in that this should be tlg1416.tlg001 not tlg1416.tlg007.

[2021-12-03 23:23] #2543 closed

[2021-12-06 18:44] charhoughton commented on #2492
@lcerrato initial markup:
[tlg1147.tlg009.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7662841/tlg1147.tlg009.zip)

[2021-12-06 20:31] charhoughton commented on #2491
@lcerrato initial markup:
[tlg1626.tlg001.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7663404/tlg1626.tlg001.zip)

[2021-12-06 20:44] #2472 closed

[2021-12-06 20:44] #2473 closed

[2021-12-06 20:44] #2474 closed

[2021-12-06 22:02] charhoughton commented on #2482
@lcerrato initial markup completed:
[tlg1416.tlg001.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7663814/tlg1416.tlg001.zip)

[2021-12-06 22:06] charhoughton commented on #2494
claiming for markup

[2021-12-07 00:23] lcerrato commented on #2476
see #2544

[2021-12-07 00:23] #2476 closed

[2021-12-07 23:57] #2475 closed

[2021-12-07 23:57] #2479 closed

[2021-12-07 23:57] #2544 closed

[2021-12-07 23:57] #2482 closed

[2021-12-07 23:57] #2484 closed

[2021-12-08 17:19] AlisonBabeu opened #2573 "(tlg2018)_Eusebius"
I'm creating this as a placeholder as I work through the Eusebius new and old editions and want to make some changes/questions regarding URNs and other issues.

[2021-12-08 19:46] lcerrato commented on #2485
@charhoughton
Unfortunately, Lace gives us no easy way of capturing this, but when we have verse, we want the line numbers.

So here: https://archive.org/details/callimachuslycop00calluoft/page/272/mode/2up?view=theater

Instead of

`<p>Ἀκούσαθ’ Ἱππώνακτος· [ο]ὐ γὰρ ἀλλ’ ἥκω`

We want an initial line break instead of a `<p>` and we need to add the running numbers for the verses:

[code]
etc.

I'm

[2021-12-08 20:43] lcerrato commented on #2485
@charhoughton
These texts are a mess of stuff — excellent work!!

[2021-12-09 15:02] charhoughton commented on #2485
@lcerrato thanks! I'll make sure to add line numbers for any other verse I come across

[2021-12-13 20:55] charhoughton commented on #2494
@lcerrato we decided, I believe, that the citation scheme for scholia should be poem.line.scholion? Referring to this: https://trello.com/c/Rdb9IbSo/209-edit-poetaeminoresgra02gais-scholia-in-hesiodem, and I'm not sure a consensus was ever reached

[2021-12-13 22:17] lcerrato commented on #2494
@charhoughton
I'd copy tlg5023.tlg001.1st1K-grc1 which has work/line/part, but section/line/part is more appropriate here where the sections look like they are Hyp, Sch_Metr, Scholia, Addenda or lowercase forms of those.

[2021-12-14 18:39] lcerrato commented on #2332
needs Bekker pages added
missing headers

[2021-12-15 23:01] #2485 closed

[2021-12-15 23:01] #2332 closed

[2021-12-15 23:01] #2480 closed

[2021-12-15 23:01] #2483 closed

[2021-12-15 23:01] #2488 closed

[2021-12-16 21:42] charhoughton commented on #2494
@lcerrato thanks so much! One more question: what exactly differentiates a witness from a <bibl> reference? On [this page](https://archive.org/details/scholiagraecaine03dind/page/30/mode/1up?view=theater), for example, what would the "Gr." and "Gu." and "Gu. Fl. 5..." all be? With so many abbreviations, it's harder for me to tell

[2021-12-17 16:25] lcerrato commented on #2494
@charhoughton
I wouldn't know without some sort of key or guide. I would just mark everything as a witness unless it jumps out at you as bibl. We were using `<ref>`, right?

[2021-12-17 16:58] charhoughton commented on #2494
@lcerrato I just assumed you knew everything, so I thought I'd ask  :) Yes, we were using ```<ref>```

[2021-12-17 17:03] lcerrato commented on #2494
@charhoughton
I'm lucky I know my own name most days!

You're correct — it's not clear.
Sometimes you get a sense of the primary sources (Hom. Od. 12.12 shows up) but the scholia aren't something I've really worked on a lot.

I would say `<ref>` with the usual language attribute for everything is more than enough. Thanks.

[2021-12-18 02:07] lcerrato commented on #2481
@AlisonBabeu @charhoughton
In looking at the TLG, the entry count here in this file closely matches tlg1416.tlg007, not tlg1416.tlg001. There are also some subtle differences in the text that more closely align with 007.
This is hard because the TLG has copyrighted stuff so we won't have an exact match.
This also has 2332 words, so it seems like it is better for 1416.007, but it's very confusing.

[2021-12-18 02:08] lcerrato commented on #2481
The practical implication is that we still need to note the pick list that 1416.001 is now needed and needs to be located.

[2021-12-20 15:11] AlisonBabeu commented on #2481
Hi @lcerrato and @charhoughton, if you think this is tlg1416.tlg007 and not tlg1416.tlg001, then I would definitely not argue.  The edition for tlg1416.tlg001 in the printed TLG canon is also not in the public domain.

[2021-12-20 17:38] lcerrato commented on #2481
@AlisonBabeu @charhoughton
It's confusing — but the word count and some stray "kai"s here and there are the basis for my guess. There isn't going to be an exact match in this case because we don't have a public domain comparison.

[2021-12-22 19:53] #2481 closed

[2021-12-22 19:53] #2487 closed

[2021-12-22 19:53] #2489 closed

[2021-12-22 19:53] #2490 closed

[2021-12-22 19:53] #2491 closed

[2021-12-28 02:49] agsper opened #2576 "Missing text"
Numeri / Numbers 19:1 (Swete LXX vol.1, pg 297) is missing "καὶ ἐλάλησεν Κύριος πρὸς Μωυσῆν καὶ ᾿Ααρὼν λέγων"

[2021-12-28 04:18] agsper opened #2577 "versification, missing text"
In Numbers and probably Leviticus, there are several places where the last verse of a chapter is incorporated into the penultimate verse.  Where this occurs in Numbers (LXX Swete) 30, v.17 is assimilated into v.16 and is truncated at the beginning, reading "δικαιώματα" rather than starting as "ταῦτα τὰ δικαιώματα"

[2021-12-28 14:54] agsper opened #2578 "Text messed up LXX Deuteronomy 21"
Text is mangled in Deu 5:21-23 -- contained in First1KGreek v.21 but missing some text and reduplicating some text. Cf. Swete vol. I page 386.

[2021-12-28 15:48] agsper opened #2579 "Missing text LXX Swete"
LXX Swete is missing text at the start of Deuteronomy 32:1 Προσεχε, οὐρανέ,

[2022-01-02 19:58] agsper opened #2580 "Report an issue: urn:cts:greekLit:tlg0527.tlg033.1st1K-grc1:16.1"
[tlg0527.tlg033.1st1K-grc1.xml](https://github.com/OpenGreekAndLatin/First1KGreek/tree/afda8cd/data/tlg0527/tlg033/tlg0527.tlg033.1st1K-grc1.xml)

Please see the other Issues message.  This passage is not 16:1 but 15:1, and so on to the end of Sophia Salomonos, namely the chapter numbers 15-19 are incorrectly labeled as 16-20.

[2022-01-03 21:23] lcerrato commented on #2576
See https://archive.org/details/oldtestamentingr01swetuoft/page/n327/mode/2up?view=theater

![image](https://user-images.githubusercontent.com/4633998/147981764-76b0e4a6-e429-4ace-acfa-176aa5f6b372.png)

Additional word(s) missing in 19.2?

encoding reads:
[code]

[2022-01-03 21:30] lcerrato commented on #2577
This is a global problem indicative of end of chapter OCR capture failures in early text work (see also Aristotle). Whole text would require review.

[code]

[2022-01-03 21:33] lcerrato commented on #2579
NB to editors: there are several impacted files and other issues submitted pertaining to the same files so caution must be used in overwriting changes or creating conflicts in revisions.

[2022-01-03 21:45] lcerrato commented on #2578
Page 386 is chapter 21: https://archive.org/details/oldtestamentingr01swetuoft/page/n417/mode/2up?view=theater

Complete read-through not (yet) done.

(Originally misread this as a problem at 5.21, rather than chapter 21 (et al).

[2022-01-03 21:47] lcerrato commented on #2580
see https://github.com/OpenGreekAndLatin/First1KGreek/issues/2579

[2022-01-03 21:52] lcerrato commented on #2579
@agsper
Thank you for the Septuagint issues. Unfortunately no read-throughs of most texts were done, so many of these data capture issues will not be spotted or resolved in the normal text entry process. Without a thorough read through, missing words will generally be hard to spot or correct as we do not have the personnel to do this kind of careful reading. There were some bugs with the early OCR

[2022-01-04 06:15] agsper commented on #2579
I am currently working on the missing Ecclesiastes including the footnotes.  Although I am working within my own html constraints, the output from my work would be adaptable, perhaps, in your system as I am using some of the same xml tags or uniform versions thereof.

[2022-01-04 22:09] lcerrato commented on #2579
@agsper
I think perhaps the extent and volume of the above reports would warrant a more holistic approach such as ultimately reentering the texts. (The app crit also presents another challenge as we generally do not capture this. When it was captured in the earlier workflow, it's not usually corrected or formatted).

A large and extensive report that spans a whole set of works (rather than one wor

[2022-01-04 22:27] lcerrato opened #2581 "(tlg0527) replace?"
per issues #2576 #2577 #2578 #2579 #2580

a replacement may be in order

[2022-01-05 18:14] agsper opened #2582 "Report an issue: urn:cts:greekLit:tlg0527.tlg002.opp-grc2:20.13"
[tlg0527.tlg002.opp-grc2.xml](https://github.com/OpenGreekAndLatin/First1KGreek/tree/afda8cd/data/tlg0527/tlg002/tlg0527.tlg002.opp-grc2.xml)

Exo 20:13  Οὐ<lb n="–16"/> σεῖς should be Οὐ μοιχεύ-<lb n="–16"/> σεῖς

Note: this is 20:14 in English Bibles.

[A more widespread problem (see Exo 20:17) is |· <lb n=| that should be |- <lb n=| particularly with prefixes such as Gen 42:14 κατά· σκοποί  for

[2022-01-05 18:25] agsper opened #2583 "Report an issue: urn:cts:greekLit:tlg0527.tlg012.opp-grc2:17.29"
[tlg0527.tlg012.opp-grc2.xml](https://github.com/OpenGreekAndLatin/First1KGreek/tree/afda8cd/data/tlg0527/tlg012/tlg0527.tlg012.opp-grc2.xml)

σαφφὼθ βο·  should read σαφφὼθ βοῶν

Swete page 648  17:29

[2022-01-06 00:50] agsper opened #2585 "Report an issue: urn:cts:greekLit:tlg0527.tlg004.opp-grc2:30.16"
[tlg0527.tlg004.opp-grc2.xml](https://github.com/OpenGreekAndLatin/First1KGreek/tree/afda8cd/data/tlg0527/tlg004/tlg0527.tlg004.opp-grc2.xml)

Num 30:17 is missing ταῦτα τὰ at the beginning of the verse before δικαιώματα.  (v.17 is assimilated into v.16)

[2022-01-06 05:29] agsper opened #2586 "Report an issue: urn:cts:greekLit:tlg0527.tlg005.opp-grc2:1.1"
[tlg0527.tlg005.opp-grc2.xml](https://github.com/OpenGreekAndLatin/First1KGreek/tree/afda8cd/data/tlg0527/tlg005/tlg0527.tlg005.opp-grc2.xml)

Deuteronomy 14:15 καὶ ἁ  should be καὶ ἀρωδιὸν (note also change of aspirate)

[2022-01-06 05:32] agsper commented on #2586
Sorry, wrong link, I think.

[2022-01-06 05:32] #2586 closed

[2022-01-06 05:32] agsper opened #2587 "Report an issue: urn:cts:greekLit:tlg0527.tlg005.opp-grc2:14.15"
[tlg0527.tlg005.opp-grc2.xml](https://github.com/OpenGreekAndLatin/First1KGreek/tree/afda8cd/data/tlg0527/tlg005/tlg0527.tlg005.opp-grc2.xml)

Deuteronomy 14:15 καὶ ἁ should be καὶ ἀρωδιὸν (note also change of aspirate)

[2022-01-06 06:27] agsper opened #2588 "Report an issue: urn:cts:greekLit:tlg0527.tlg005.opp-grc2:21.21"
[tlg0527.tlg005.opp-grc2.xml](https://github.com/OpenGreekAndLatin/First1KGreek/tree/afda8cd/data/tlg0527/tlg005/tlg0527.tlg005.opp-grc2.xml)

Deuteronomy 21:21 assimilates also verses 22-23.  There is a lot of missing text in v.22 and v.23. They should be distributed and filled out something like this :
<div type="textpart" subtype="verse" n="21"><p>καὶ καὶ λιθοβολήσουσιν αὐτὸν οἱ ἄνδρες τῆς <lb

[2022-01-11 17:59] lcerrato commented on #2478
The volunteers who worked on this are: Nikos Barlamas, Augustin Biganzoli, Christopher Duffy, Chloe Hanstra, Prudence Jones, Sara Matías, Jake Pappo, Ellie Rabe, Mariam Shanshashvili, Delyna Tsehaye, Elizabeth Uhan
+Em Setzer

[2022-01-12 04:10] agsper commented on #2579
I have attached an Ecclesiastes xml file which, I believe, would work pretty much as is when supplemented by appropriate linking .  I assigned it a tlg number of 030 since the repository seems to have left that folder unused.  I think the xml tags should be the same as used in Proverbs.  I have checked the text and corrected it against Swete vol. 2 1907 edition.  The apparatus has been checked and

[2022-01-14 20:27] lcerrato opened #2590 "(tlg0057 files) Galen or pseudo-Galen attribution"
A correspondent reports that
-tlg0057.tlg040.1st1K-grc1.xml (vol. 6, p. 832–835) [De dignotione ex insomniis]
-tlg0057.tlg079.1st1K-grc1.xml (vol. 14, p. 210–294) [De theriaca ad Pisonem]
are thought to be pseudo-Galen rather than Galen

Opening this for investigation and to see if we want to make further notations in the headers or the catalog.

[2022-01-14 22:03] lcerrato commented on #2579
@agsper
Hi Andrew,
Thank you. I don't see a file attached to the issue? Perhaps the GitHub permissions did not permit it?

In any case, after our meeting yesterday the project leads wanted to revisit replacing this edition of the LXX with better OCR data capture and versification and the newer software methods we have now rather than looking for missing words or correcting the verses.

(I have not

[2022-01-14 23:21] lcerrato commented on #2579
Missing texts may be in this file:
https://github.com/OpenGreekAndLatin/DDD_XML/blob/master/finished/oldtestamentingr02swetuoft.xml

[2022-01-14 23:48] AlisonBabeu commented on #2590
Hi @lcerrato I've looked up both of these works in question in the online TLG and they still attribute them to Galen using this edition.  This does not of course mean that they might not have been attributed to Pseudo-Galen under newer scholarship, I just haven't been in the habit of creating new TLG IDs for works, or changing the attributed author if the TLG does not.  We certainly could add Pseu

[2022-01-15 03:25] lcerrato commented on #2590
@AlisonBabeu I checked the TLG prior to the issue creation in the course of the correspondence but I figured we could open this for discussion for the larger group.

[2022-01-15 11:46] etymologika commented on #2590
Dear colleagues, Thank you! Concerning the attribution of Galenic treatises, the state of the art is there:
« Gesamtübersicht » of the Berlin Corpus Medicorum Graecorum : http://cmg.bbaw.de/epubl/online/galges.html
And the more comprehensive "Fichtner-Bibliography", especially for information on collection of extracts in Kühn's edition, that should not be considered as Galenic treatises: http://cm

[2022-01-18 16:15] AlisonBabeu opened #2592 "Changing CTS-URNs from 1st1K to OPP"
While this is a process I've been undertaking as I edit files, I'm opening this issue largely as a placeholder to remind myself and document any issues I find in the process.

At the beginning of OGL many files that were added using the OPP CTS-URN that had been used to catalog and create CTS-URNs for any non-Perseus editions in the first automatic generation of metadata for the Perseus Catalog in

[2022-01-18 16:34] AlisonBabeu commented on #2592
A related issue is if all the CSEL and other Latin texts should have their URNs changed to OGL from OPP since new Latin texts being added in and viewable on Scaife use OGL not OPP.

[2022-01-18 17:13] lcerrato commented on #2592
@AlisonBabeu
Any idea of how many works this affects? In the absence of a redirect function in the software we might not want to break a lot of links of this is really a large amount.
We probably want something in Scaife that will enable notification of retired links or deprecated URNs.
Right now, we don't have a catalog or catalog-function that is going to alert the user to the reassignment so th

[2022-01-18 17:58] AlisonBabeu commented on #2563
This work was completed so I am closing this issue.

[2022-01-18 17:58] #2563 closed

[2022-01-18 18:11] AlisonBabeu commented on #2592
Hi @lcerrato after doing a quick count I realize that there are actually about 400 Greek OPP URNs still in the 1st1K/Scaife repository as well. I have to admit I don't think anyone is linking to the CSEL texts using their OPP URNS but you are right that we don't have  a way of redirecting or alerting users.  Part of the inspiration for this work isn't just about the intellectual consistency it's t

[2022-01-18 18:39] lcerrato commented on #2592
@AlisonBabeu
Yes, there isn't a good answer for this. Anyone who is using these corpora for research would encounter a different set of URNs.
The best way forward is going to be to have some standard notation somewhere — in the headers? (directory? work metadata?) in order to document the changes. I don't know what the best approach would be. Probably a stand off text file in the directory?

[2022-01-18 20:26] lcerrato commented on #2579
An hour's worth of reading Genesis produced 74 errors/omissions over 56 verses.

[2022-01-19 02:13] agsper commented on #2579
Thanks for the message, Lisa. That sounds about right.  I have been impressed with how accurate the diacritics are in the text that is present (not perfect though).  A major difficulty for the apparatus is the blending of symbols and numbers and letters as well as 2 alphabets, such as ] I l 1 1° and also A1 vs Α(\u913?) and so on.  There is a very accurate (not completely) CCAT LXX file http://cca

[2022-01-20 17:23] charhoughton commented on #2494
@lcerrato Finally finished the initial markup and formatting! If there are any common or widespread errors I missed (it's a huge file, so I'm not surprised if I skated over something) please let me know and I'm happy to dive back in.
[tlg5023.tlg016.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7907282/tlg5023.tlg016.zip)

[2022-01-20 18:33] charhoughton commented on #2509
claiming

[2022-01-20 19:17] charhoughton commented on #2509
@lcerrato initial markup completed:
[tlg1287.tlg001.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7907922/tlg1287.tlg001.zip)

[2022-01-20 20:46] charhoughton commented on #2510
@lcerrato initial markup:
[tlg0634.tlg001.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7908399/tlg0634.tlg001.zip)

[2022-01-20 21:50] charhoughton commented on #2511
@lcerrato initial markup completed:
[tlg1188.tlg002.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7908704/tlg1188.tlg002.zip)

[2022-01-21 18:25] charhoughton commented on #2512
@lcerrato initial markup completed:
[tlg1542.tlg001.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7915839/tlg1542.tlg001.zip)

[2022-01-21 19:00] charhoughton commented on #2513
@lcerrato initial markup completed:
[tlg1692.tlg005.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7916031/tlg1692.tlg005.zip)

[2022-01-21 19:30] charhoughton commented on #2514
@lcerrato initial markup completed:
[tlg2049.tlg001.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7916151/tlg2049.tlg001.zip)

[2022-01-21 21:25] charhoughton commented on #2515
@lcerrato initial markup completed:
[tlg2640.tlg001.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7916644/tlg2640.tlg001.zip)

[2022-01-21 21:33] charhoughton commented on #2516
@lcerrato initial markup completed:
[tlg2970.tlg001.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/7916689/tlg2970.tlg001.zip)

[2022-01-21 21:45] charhoughton commented on #2495
claiming for initial markup

[2022-01-23 02:43] agsper commented on #2579
I ran a comparison of the Pentateuch in Swete vs. in Rahlf’s from CCAT and found roughly one error per verse – I think they both tend to use B for the main text so I suspect there were not alot of textual variants involved.  I have, however, only done a close review of Gen 1:1-14.  I probably will not continue comparing.  I would be happy to send you the Word docx. of the Pentateuch comparison, if

[2022-01-27 17:46] lcerrato commented on #2579
@agsper
Hi Andrew,
I am making notes here in order to report to the rest of the collaborators about what I found. I did see some incorrect breathing marks, but as I was not looking for those, that is something that concerns me. I was only looking for missing words.
We may be able to run a diff with another electronic version of the text, but ideally that would be the same edition  as otherwise it

[2022-01-27 20:16] ThomasK81 commented on #2590
Hi all, just as a clarification while workgroups often coincide with author information, they are not equal pieces of information. For being in the same workgroup it is enough that the works have something in common. The association in the same workgroup does per se not mean that they have the same author. A joined tradition of the works or a historic grouping might already be enough. In general,

[2022-01-27 21:38] lcerrato commented on #2590
@ThomasK81 @AlisonBabeu
We need a committee or another mechanism to approve or disapprove these types of changes. It's not something I alone want to (or should decide).
I'm sure this won't be the first or last request/suggestion along these lines.

[2022-01-31 17:38] lcerrato opened #2599 "(tlg4013.tlg003.opp-grc1) does not display properly in Scaife Viewer"
There look to be several inconsistencies in the cts structure here (including an initial commentary section).
Displays fine in http://cts.perseids.org/read/greekLit/tlg4013/tlg003/opp-grc1/1-3

[2022-01-31 21:23] lcerrato commented on #2599
I think that chapter 2 is too large as a CTS container.

[2022-01-31 22:31] lcerrato commented on #2599
Missing chapter breaks — have broken this up to reflect print chapters.

[2022-02-01 00:36] #2599 closed

[2022-02-09 14:34] AlisonBabeu commented on #2573
I finished the works of Eusebius and the fixes showed up in Scaife so I'm closing this issue.

[2022-02-09 14:34] #2573 closed

[2022-02-18 18:42] charhoughton commented on #2495
@lcerrato initial markup (finally) completed. If you're finding any big things I missed, I'm happy to take another pass.
[tlg5023.tlg015.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/8099611/tlg5023.tlg015.zip)

[2022-02-21 20:56] charhoughton commented on #2530
@lcerrato initial markup completed
[tlg1271.tlg010.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/8112025/tlg1271.tlg010.zip)

[2022-02-28 21:49] lcerrato commented on #2478
added 1232 sections for 60,713 words

[2022-02-28 23:06] #2478 closed

[2022-03-03 20:15] lcerrato opened #2613 "update catalog.json file"
need update here

[2022-03-03 21:45] charhoughton commented on #2531
@lcerrato initial markup completed
[tlg1443.tlg002.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/8181366/tlg1443.tlg002.zip)

[2022-03-04 16:19] #2486 closed

[2022-03-04 16:19] #2493 closed

[2022-03-04 16:20] lcerrato commented on #2613
done

[2022-03-04 16:20] #2613 closed

[2022-03-17 18:24] charhoughton opened #2617 "(urn:cts:greekLit:tlg1669.tlg004.1st1K-grc1) new edition"
See attachment for XML with initial markup completed.
[tlg1669.tlg004.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/8289168/tlg1669.tlg004.zip)

[2022-03-18 15:18] lcerrato commented on #2562
@charhoughton
Was Lace used in the creation of this file? I didn't think that was the case?

[2022-03-18 15:29] charhoughton commented on #2562
@lcerrato I don't believe so. I mostly edited the standard header to conform with the info from Greta and #2540. It's entirely possible I overlooked that part.

[2022-03-18 15:30] lcerrato commented on #2562
@charhoughton
She sent you the file directly, I thought. Not a problem, I'll delete it.
Thanks!

[2022-03-18 15:41] lcerrato commented on #2562
Good work!

[2022-03-18 17:15] #2562 closed

[2022-03-24 21:06] charhoughton commented on #2496
@lcerrato initial markup completed on both files

001 markup:
[tlg1402.tlg001.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/8345796/tlg1402.tlg001.zip)

004 markup:
[tlg1402.tlg004.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/8345792/tlg1402.tlg004.zip)

[2022-03-29 16:49] AlisonBabeu commented on #2444
This issue has been resolved so I'm closing it.

[2022-03-29 16:49] #2444 closed

[2022-04-08 15:25] charhoughton commented on #2507
@lcerrato initial markup completed
[tlg1309.tlg001.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/8453338/tlg1309.tlg001.zip)

[2022-04-08 15:39] charhoughton commented on #2504
@AlisonBabeu tlg1147 appears to be the work URN for both Antiphon of Athens and Saint Irenaeus, Saint Bishop of Lyon, according to the picklist. Could you please confirm that for me before I start editing this?

[2022-04-08 15:53] lcerrato opened #2626 "(tlg5034.tlg001b/c/d.perseus-grc1) Pindar scholia enhancements"
Following example of tlg5034.tlg001a.perseus-grc1 https://github.com/OpenGreekAndLatin/First1KGreek/pull/2620:

- [ ] Re-add print page numbers where needed
- [ ] Add third level of CTS designated "part" (poem/line/part)
- [ ] Distinguish between indented and non-indented paragraphs for each cts "part"
- [ ] Add xml:base to all CTS levels
- [ ] Add tag `<label xml:lang="lat">` to lowercase letters

[2022-04-08 15:53] lcerrato commented on #2626
Note:
The designation "part" indicates the line part as noted in the text (generally) by lowercase Roman alphabet letters. In instances where an indentation appears in print, an attempt has been made to preserve this as it is a significant distinction. The limitations of this structure mean a less nuanced presentation. In cases where no lowercase letter appears (line number only) an "x" has been u

[2022-04-08 17:51] lcerrato commented on #2504
@charhoughton @AlisonBabeu
It looks like Irenaeus is tlg1447, not tlg1147. Perhaps just a typo?

[2022-04-11 13:42] AlisonBabeu commented on #2504
hi @lcerrato  and @charhoughton you are both quite right that is typo, whoops. tlg1447 is Irenaeus.  Thanks for catching this.

[2022-04-11 19:59] djwhittle opened #2629 "(urn:cts:greekLit:tlg0006.tlg020.1st1K-grc1) new edition"
See trello cards for the zip file and the name of the volunteer who worked on the text:

[Editing card](https://trello.com/c/wR5LjqJL/282-edit-tragicorumgraeco00naucuoft-tragicorum-graecorum-fragmenta-17k-words)
[Publishing card](https://trello.com/c/LVK9M36P/321-publish-tragicorumgraeco00naucuoft-tragicorum-graecorum-fragmenta-17k-words)

[2022-04-11 20:05] charhoughton opened #2630 "(urn:cts:greekLit:tlg0537.tlg011.1st1K-grc1) new edition"
@lcerrato initial markup
[tlg0537.tlg011.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/8467343/tlg0537.tlg011.zip)

[2022-04-11 20:06] charhoughton opened #2631 "(urn:cts:greekLit:tlg0537.tlg012.1st1K-grc1) new edition"
@lcerrato initial markup completed
[tlg0537.tlg012.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/8467350/tlg0537.tlg012.zip)

[2022-04-11 20:07] charhoughton opened #2632 "(urn:cts:greekLit:tlg0537.tlg013.1st1K-grc1) new edition"
@lcerrato initial markup completed
[tlg0537.tlg013.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/8467353/tlg0537.tlg013.zip)

[2022-04-11 20:08] charhoughton opened #2633 "(urn:cts:greekLit:tlg0537.tlg014.1st1K-grc1) new edition"
@lcerrato initial markup completed

[tlg0537.tlg014.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/8467361/tlg0537.tlg014.zip)

[2022-04-18 19:10] djwhittle opened #2634 "(urn:cts:greekLit:tlg2023.tlg004.1st1K-grc1) new edition"
See trello cards for the zip file and the names of the volunteers who worked on the text:

[Editing Card](https://trello.com/c/wmBgIBg6/312-edit-coo-31924009211180-1639748287)
[Publishing Card](https://trello.com/c/RK720xJG/322-publish-coo-31924009211180-1639748287)

[2022-04-22 17:21] charhoughton commented on #2497
@lcerrato would you be able to check the citation structure the TLG provides for this text? The one that was exported from LACE is really quite messy. Thanks!

[2022-04-22 18:07] charhoughton commented on #2498
@lcerrato initial markup completed
[tlg1390.tlg004.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/8543068/tlg1390.tlg004.zip)

[2022-04-25 17:03] lcerrato commented on #2497
@charhoughton
These are just fragments, so it is fragment only.
There are what appear to be titles that have no accompanying fragments such as
`(tit,26b-28c) ΤΕΧΝΙΚΑ`

[2022-04-25 17:06] lcerrato commented on #2497
We also have

[code]

[2022-04-25 17:14] lcerrato commented on #2497
It looks like it starts:
tit,0a-4a (so title_0a_4a would work)
0a
0b
0c
1
1a
1b
2
2a
2b
2c
3
4
4a
....

but may of these are just titles (or headers/phrases?) and have no content.

[2022-04-25 17:27] lcerrato commented on #2497
@charhoughton
The work I see in TLG starts here: https://archive.org/details/diefragmentederv02dieluoft/page/54/mode/2up

This does not appear to correspond with the file. It makes me wonder about the Trello card work divisions, which are unclear.

[2022-04-25 17:54] charhoughton commented on #2497
@lcerrato I'm going to stick with just fragments for now, since that seems the most stable/consistent structure. I'll but in the other titles and such as ``<label>```s so they're preserved, but I think trying to use them as a formal structure is why the text had such a strange citation scheme in the first place.

[2022-04-25 18:10] lcerrato commented on #2497
@charhoughton
I think the issue is that TLG lists those subtitles and headers as their own fragments.
I would definitely simplify by making it flat, but don't invest hours trying to figure out what's a label, or a title, etc.

I can include more of the suggested structure, but there is no easy way to cut/paste it here.

[2022-04-25 18:16] charhoughton commented on #2497
@lcerrato I think I've got a decent idea of the suggested structure, but I'll let you know if I need more. For right now, I'm tagging everything that isn't clearly a fragment or citation as a label, and I figure we can specify more later.

[2022-04-29 16:22] lcerrato opened #2636 "(urn.cts.greekLit.tlg0098.tlg001.1st1K-grc1) new edition"
Some substitution with URNs in this batch.
See https://trello.com/c/xiodDAEo/323-publish-corpusparoemiogr01leutuoft-zenobius-sophista-epitome-collectionum-lucilli-tarrhaei-et-didymi
Tag Lisa for zip.

[2022-04-29 16:23] lcerrato opened #2637 "(urn.cts.greekLit.tlg0097.tlg001.1st1K-grc1) new edition"
Some substitution with URNs in this batch.
See https://trello.com/c/xiodDAEo/323-publish-corpusparoemiogr01leutuoft-zenobius-sophista-epitome-collectionum-lucilli-tarrhaei-et-didymi
Tag Lisa for zip.

[2022-04-29 16:25] lcerrato opened #2638 "(urn.cts.greekLit.tlg0007.tlg146-tlg147.1st1K-grc1) new editions"
Some substitution with URNs in this batch.
See https://trello.com/c/xiodDAEo/323-publish-corpusparoemiogr01leutuoft-zenobius-sophista-epitome-collectionum-lucilli-tarrhaei-et-didymi
Tag Lisa for zip.

[2022-04-29 16:33] lcerrato opened #2639 "(urn.cts.greekLit.tlg.9006.tlg001.1st1K-grc1) new edition"
Some substitution with URNs in this batch.
See https://trello.com/c/xiodDAEo/323-publish-corpusparoemiogr01leutuoft-zenobius-sophista-epitome-collectionum-lucilli-tarrhaei-et-didymi
Tag Lisa for zip.

[2022-04-29 16:34] lcerrato opened #2640 "(urn.cts.greekLit.tlg.9007.tlg001.1st1K-grc1) new edition"
Some substitution with URNs in this batch.
See https://trello.com/c/xiodDAEo/323-publish-corpusparoemiogr01leutuoft-zenobius-sophista-epitome-collectionum-lucilli-tarrhaei-et-didymi
Tag Lisa for zip.

[2022-05-02 20:01] lcerrato commented on #2492
Changed to 1447

[2022-05-02 21:03] lcerrato commented on #2492
Created catalog issue
https://github.com/PerseusDL/catalog_pending/issues/149

[2022-05-03 22:34] lcerrato commented on #2494
Catalog issue: https://github.com/PerseusDL/catalog_pending/issues/150

[2022-05-04 16:32] lcerrato commented on #2495
Catalog issue: https://github.com/PerseusDL/catalog_pending/issues/151

[2022-05-04 21:42] lcerrato commented on #2498
https://github.com/PerseusDL/catalog_pending/issues/153

[2022-05-04 23:42] #2492 closed

[2022-05-04 23:42] #2494 closed

[2022-05-04 23:42] #2495 closed

[2022-05-04 23:42] #2496 closed

[2022-05-04 23:42] #2498 closed

[2022-05-06 18:28] lcerrato commented on #2499
see https://github.com/PerseusDL/catalog_pending/issues/154

[2022-05-09 19:01] djwhittle opened #2645 "(urn:cts:greekLit:tlg4016.tlg005.1st1K-grc1) new edition"
See trello cards for the zip file and the name of the volunteer who worked on the text:

[Publishing Card](https://trello.com/c/EsZdvhJ6/324-publish-commentariainari04akaduoft)
[Editing Card](https://trello.com/c/hWZYGLDV/311-edit-commentariainari04akaduoft)

[2022-05-13 19:19] lcerrato commented on #2501
Catalog https://github.com/PerseusDL/catalog_pending/issues/155

[2022-05-13 19:21] lcerrato commented on #2500
https://github.com/PerseusDL/catalog_pending/issues/156

[2022-05-13 19:24] lcerrato commented on #2502
https://github.com/PerseusDL/catalog_pending/issues/157

[2022-05-13 20:28] lcerrato commented on #2503
https://github.com/PerseusDL/catalog_pending/issues/158

[2022-05-13 21:47] charhoughton commented on #2497
@lcerrato initial markup completed. Per our discussion, the primary structure is the fragments, with the modern titles tagged as ```<label>```s. Fragments 14 and 300 were subdivided, so I added a second citation level under the fragment level. It's definitely a gnarly text, so let me know if you have any questions/issues.
[tlg1304.tlg002.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files

[2022-05-13 21:47] charhoughton commented on #2505
claiming for markup

[2022-05-13 22:27] lcerrato commented on #2505
@charhoughton
I'm in the middle of this batch and have the headers ready
 https://trello.com/c/Q1idNLNd/307-publish-diefragmentederv02dieluoft
so why don't you skip to #2508 or whatever is next?

[2022-05-14 20:35] djwhittle opened #2650 "(urn:cts:greekLit:tlg0555.tlg004.1st1K-grc1) new edition"
See trello cards for the zip file and the name of the volunteer who worked on the text:

[Publishing Card](https://trello.com/c/4gDCO0lU/325-publishing-clemensalexandri02clem)
[Editing Card](https://trello.com/c/r2vPNHqd/187-editing-clemensalexandri02clem)

[2022-05-19 23:27] charhoughton commented on #2532
claiming for markup

[2022-05-19 23:59] charhoughton commented on #2532
claiming for markup

[2022-05-20 00:00] charhoughton commented on #2533
outdated URN; text is part of #2532

[2022-05-20 00:00] #2533 closed

[2022-05-20 00:00] charhoughton commented on #2534
outdated URN; text is part of #2532

[2022-05-20 00:00] #2534 closed

[2022-05-20 00:01] charhoughton commented on #2535
outdated URN; text is part of #2532

[2022-05-20 00:01] #2535 closed

[2022-06-02 02:58] #2499 closed

[2022-06-02 02:58] #2500 closed

[2022-06-02 02:58] #2501 closed

[2022-06-02 02:58] #2502 closed

[2022-06-02 02:58] #2503 closed

[2022-06-02 02:58] #2504 closed

[2022-06-02 02:58] #2505 closed

[2022-06-02 02:58] #2506 closed

[2022-06-02 02:58] #2507 closed

[2022-06-02 15:54] charhoughton opened #2651 "(urn:cts:greekLit:tlg0086.0048.1st1K-grc1) new edition"
XML file attached. Also claiming for initial markup. [divisionesquaevu00aris.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/8807222/divisionesquaevu00aris.zip)

[2022-06-07 14:58] lcerrato commented on #2497
https://github.com/PerseusDL/catalog_pending/issues/163

[2022-06-07 14:59] lcerrato commented on #2497
Excellent job on a messy file @charhoughton

[2022-06-10 22:06] #2497 closed

[2022-06-10 22:06] #2508 closed

[2022-06-10 22:06] #2509 closed

[2022-06-10 22:06] #2510 closed

[2022-06-10 22:06] #2511 closed

[2022-06-10 22:06] #2512 closed

[2022-06-10 22:06] #2513 closed

[2022-06-10 22:06] #2514 closed

[2022-06-10 22:06] #2515 closed

[2022-06-10 22:06] #2516 closed

[2022-06-16 16:04] charhoughton commented on #2532
@lcerrato initial markup completed
[tlg0096.tlg002.opp-grc3.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/8920605/tlg0096.tlg002.opp-grc3.zip)

[2022-06-25 09:46] charhoughton commented on #2629
claiming for initial markup

[2022-07-20 00:12] charhoughton opened #2657 "(urn:cts:greekLit:tlg0094.tlg001.1st1K-eng1) new translation"
Initial markup completed on a new translation from Greta Hawes, with CHS, and students.
[tlg0094.tlg001.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/9145420/tlg0094.tlg001.zip)

[2022-08-12 18:16] charhoughton commented on #2629
@lcerrato the XML for this text currently includes just the Greek Euripides fragments, and excludes the references. This means that, whenever there is no Greek text, but only references (such as frag 39, [here](https://archive.org/details/tragicorumgraeco00naucuoft/page/373/mode/1up?view=theater)), there's no output. Do we want to just preserve the fragments for now, or should I include the refere

[2022-08-12 18:57] lcerrato commented on #2629
@charhoughton I'd have to take a look at what's there versus what we have. I've been off and will be taking it easy until September.
Is there material that wasn't captured in Lace or is this something else?
Maybe a screenshot would help me understand without having to go back into Trello?

[2022-08-12 21:17] lcerrato commented on #2629
@charhoughton
Ah, I see. This is how it is represented elsewhere, so I don't think you need to add the uncultured stuff.
Thanks!!
![image](https://user-images.githubusercontent.com/4633998/184446131-96d54fe6-8030-413b-811d-f2aea8e9e527.png)

[2022-08-18 12:47] gregorycrane opened #2663 "(tlg0542.tlg001) Wrong text"
What we have at https://scaife-dev.perseus.org/reader/urn:cts:greekLit:tlg0542.tlg001.1st1K-grc1 is not the Onomasticon of Pollux but a small excerpt from the Onomasticon. It must have slipped in during our First1K work.

Somehow the actual text got left behind -- perhaps because Stelios Chronopoulos was working on a new edition. Anyway, the XML for the Bethe edition is at https://github.com/grego

[2022-08-18 15:33] AlisonBabeu commented on #2663
Hi @gregorycrane you are right and this work is actually in the First1K new data entry list, it looks like from comments on the spreadsheet there was a brief discussion of this but I don't think the text was ever actually worked on. There is a two volume edition in the Internet Archive that I included in the list.

[2022-08-22 18:19] lcerrato opened #2664 "(tlg1271) (tlg1443) canonical wrokgroup naming"
Between this repo and https://github.com/PerseusDL/canonical-greekLit there are naming inconsistencies. Most of tlg1271 was recently addressed but there are new files incoming.
There is also a draft PR on tlg1443. https://github.com/OpenGreekAndLatin/First1KGreek/pull/2660

Once the new work passes, I will assign this.

[2022-08-22 18:55] lcerrato commented on #2531
There is a difference in numbering here between this work and the TLG representation. There are 13 letters and it appears that our letter 1 = canonical letter 13, with all of our others 2-13 = 1-12.
Trying to figure out how to resolve this in the least confusing way.

[2022-08-22 22:01] #2530 closed

[2022-08-22 22:01] #2531 closed

[2022-08-23 21:42] AlisonBabeu commented on #2664
hi @lcerrato so I see that both the tlg1271 top level textgroups for [First1K](https://github.com/OpenGreekAndLatin/First1KGreek/blob/master/data/tlg1271/__cts__.xml) and [Canonical Greek](https://github.com/PerseusDL/canonical-greekLit/blob/master/data/tlg1271/__cts__.xml) are the same, with `  <ti:groupname xml:lang="mul">Clemens Romanus (Clement of Rome)</ti:groupname>`.

I used Clement of Rome

[2022-08-23 22:47] lcerrato commented on #2664
I don’t generally use different file header author names based on the print, at least not intentionally. Some of the names used in print are pretty obscure and not helpful. That could result potential for confusion.
I try to pick the best canonical name based on the catalog but some of the OGL stuff is getting entered elsewhere based on the picklist and not verified. It’s easy to miss.
(The author

[2022-08-24 10:32] lmuellner commented on #2664
I’d stick with Clement of Rome, to avoid exclusivity.

[2022-08-24 14:48] LucieSty commented on #2664
Allison,

He is actually Clemens Romanus for Library of Congress (https://www.loc.gov/item/98502205/).  How do we handle other Clemens such as Clement of Alexandria?  Or other early Christian writers like Justin Matryr?

CIDOC has an entry for “Persistent Name” which might work here.

Thank you,

-Lucie
Lucie Wall Stylianopoulos
Native & Indigenous Relations Community (NIRC)
Librarian for Art, Arc

[2022-08-24 14:53] LucieSty commented on #2664
Wait a Minute.  LOC is wrong.  They are talking about Clement of Alexandria in this entry.

My Bad.

Thank you,

-Lucie
Lucie Wall Stylianopoulos
Native & Indigenous Relations Community (NIRC)
Librarian for Art, Archaeology, Classics, and
Indigenous Studies-
Fiske Kimball Fine Arts Library
University of Virginia
Charlottesville, VA 22903
***@***.******@***.***>   434-924-6604

From: "Stylianopoulo

[2022-08-26 19:40] charhoughton commented on #2629
@lcerrato initial markup completed. I tagged both character names in dialogue and choral divisions (strophes etc) as ```<label>```s so they should be easy to find if we want to retag them later. Work metadata and the text file are attached, since I believe we already have author metadata.
[tlg0006.tlg020.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/9436009/tlg0006.tlg020.zip)

[2022-08-26 19:43] charhoughton commented on #2634
claiming for initial markup

[2022-09-02 17:33] charhoughton commented on #2629
updated files
[tlg0006.tlg020.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/9480001/tlg0006.tlg020.zip)

[2022-09-12 14:25] AlisonBabeu opened #2667 "(tlg3135)_tlg3135.tlg004_tlg3135.tlg005"
So while updating the tlg3135.tlg001.opp-grc1 to 1st1K to avoid conflict with the catalog, I "rediscovered" an issue I noted at the time I catalog this work about 5 years ago.  Works tlg 3135.tlg004 and tlg3135.tlg005 are using TLG IDs that have been given to other works. I know we aren't in the practice of being consistent with TLG IDs if something gets misnumbered along the way but  I was wonder

[2022-09-12 14:45] lcerrato commented on #2667
@AlisonBabeu
I'm not following precisely, which is most likely me.
What would these works be if you were starting from scratch?

[2022-09-12 15:04] lcerrato commented on #2667
@AlisonBabeu
So I searched on these works and I see that TLG has them as part of 001, so doing 001a and 001b or merging would be better than the current IDs probably.

[2022-09-12 17:47] AlisonBabeu commented on #2667
Hi @lcerrato I had forgotten to search on them. The TLG is strange with this work since it uses tlg03135.tlg001 for books 1-12 and then tlg3135.tlg002, which is used for books 13-18. I had split them up in the catalog data but had planned on possibly just switching the metadata to use tlg3135.tlg001 since I would rather have the catalog data be consistent with Scaife rather than with the TLG.  Sho

[2022-09-13 19:52] lcerrato commented on #2667
@AlisonBabeu
I didn't look into where they occurred precisely but it was not intuitive. (The Greek also looked a little off from what we have). I would have to revisit the TLG to see what's up.

[2022-09-14 11:00] AlisonBabeu commented on #2667
hi @lcerrato the pull request didn't work so I'm going to undo it and wait until you have a chance to see where the two works should be integrated. Thanks!

[2022-09-14 16:42] lcerrato commented on #2667
@AlisonBabeu
There is a significant difference in the structure of the files we have and the online editions, and even a difference in the structure between 3135.001 (volume/page) and 3135.002 (page).

**3135.001 is lib. 1-12**: (230k words)
1. pref. v1, 1-11
2. lib. 1-5 v1, 12-402
3. lib. 6-10 v2, 1-457
4. lib. 11-12 v3, 1-169
**3135.002 is lib 13-18**, pp. 1-768 (114k words)

Both of our edition

[2022-09-14 16:49] lcerrato commented on #2667
Part of this difference may be that TLG uses a different edition (Büttner-Wobst) for 3135.002, and that may have necessitated the split. They do not use Dindorf for books 13-18.

[2022-09-14 17:09] lcerrato commented on #2667
@AlisonBabeu
So Migne has these two other works, the Chronology and the Argumentum, but other sources do not. They are not part of the 3135.001 or 3135.002 online editions.

[2022-09-14 18:30] lcerrato commented on #2667
@AlisonBabeu I updated the PR with some comments for the next time, but we can alway just chat if that's easier.

[2022-09-14 20:07] AlisonBabeu commented on #2667
Hey @lcerrato having read through the comments on the pull request and here I think the best thing to do is to keep these works separate and then assign two new IDS to the Argumentum and the Chronology.  You are quite right in that our tlg3135.tlg001 has the entire work and for some reason that TLG decided to split it up between two editions. I actually just changed the catalog data to only use th

[2022-09-14 21:01] lcerrato commented on #2667
@AlisonBabeu
I think that is the best solution.
Beyond that, I'm not sure why we have these, but since they were already done, we might as well keep them.

[2022-09-16 11:25] bazzakoni opened #2669 "Report an issue: urn:cts:greekLit:tlg0086.tlg001.1st1K-grc2:1.1.1-1.1.5"
[tlg0086.tlg001.1st1K-grc2.xml](https://github.com/OpenGreekAndLatin/First1KGreek/tree/5516db3/data/tlg0086/tlg001/tlg0086.tlg001.1st1K-grc2.xml)

Letter missing. Instead of "μηδενὶ τῷ Β τὸ ὑπάρχει", "μηδενὶ τῷ Β τὸ A ὑπάρχει" (25a15 in Bekker).

[2022-09-16 11:33] bazzakoni opened #2670 "Report an issue: urn:cts:greekLit:tlg0086.tlg001.1st1K-grc2:1.1.1-1.1.5"
[tlg0086.tlg001.1st1K-grc2.xml](https://github.com/OpenGreekAndLatin/First1KGreek/tree/5516db3/data/tlg0086/tlg001/tlg0086.tlg001.1st1K-grc2.xml)

Wrong text and letter missing. Instead of "μηδενὶ τῷ Β τὸ ὑπάρχειν", "μηδενὶ τῶν Β τὸ A ὑπάρχειν" (Bekker 25a16-17). Tell me if you correct these, otherwise I will not bother telling you about these errors anymore.

[2022-09-19 16:17] lcerrato commented on #2669
@bazzakoni
Thank you for submitting this. I will be checking the source and making any corrections here, with a pull request to finalize the change(s). The up to date version of the text will not appear on the Scaife Viewer until the next release. Releases are made every 4-8 weeks or so.
Please feel free to follow up here in this issue (even reopen it if needed) or with other issues or via email a

[2022-09-19 16:18] lcerrato commented on #2669
<img width="686" alt="Screen Shot 2022-09-19 at 11 45 57 AM" src="https://user-images.githubusercontent.com/4633998/191064792-2837543f-9118-475a-8363-c6ac1b6feb01.png">

[2022-09-19 16:35] lcerrato commented on #2670
@bazzakoni
Thank you for this.
Issues within the same text may be added to any existing issue to simplify and streamline pull requests.
I do not see μηδενὶ **τῶν** Β in this passage, but perhaps I am missing it? I do see a second missing alpha.

[2022-09-19 18:06] lcerrato commented on #2670
@bazzakoni
Ah, I see. The Ross edition uses **μηδενὶ τῷ** in an instance where the Bekker edition has **μηδενὶ τῶν**, but this appears to be a variant rather than an error.

[2022-09-19 18:06] AlisonBabeu commented on #2667
This issue was resolved by #2668

[2022-09-19 18:06] #2667 closed

[2022-09-19 18:32] bazzakoni commented on #2669
Dear Lisa,

I saw yesterday that there are differences between the Bekker 1831 greek
text and Ross 1964. I also checked the books themselves. Even if Ross
declares in Preface that his greek text comes from Bekker. I am still
perplexed and have no explanation why. I also have a translation by Cooke
and Tredennick (Loeb also) and the text corresponds to Bekker's. I have no
explanation why there are

[2022-09-19 19:09] lcerrato commented on #2669
@bazzakoni
Thank you for your reply.

The variants are listed in the Ross apparatus criticus, which is not in the online pdf version for copyright reasons. It can, however, be [borrowed from the Internet Archive](https://archive.org/details/analyticapriorae0000aris/page/4/mode/2up?view=theater). I cannot show the images here because of copyright.
We have another version of the work in this collect

[2022-09-19 19:35] #2669 closed

[2022-09-19 19:35] #2670 closed

[2022-09-20 06:55] bazzakoni commented on #2669
Dear Lisa,

Thank you for the links and explanations. I did not know that Ross indeed
used a slightly different text. Still don't know why he chose the Dative
(τῷ article but also conjunction, as "then, thereupon") instead of the
Genitive (τῶν). More meaning has the Genitive, indeed, in the contexts
used. I will dwelve into this and if I have some meaningful and useful
comments for you, I will wri

[2022-09-21 19:44] charhoughton commented on #2634
@lcerrato initial markup completed. The only sections marked in this text are based on page numbers of a previous edition; if TLG uses something else, let me know and I can reformat the text.
[tlg2023.tlg004.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/9619888/tlg2023.tlg004.zip)

[2022-09-21 20:36] charhoughton commented on #2651
@lcerrato initial markup completed
[tlg0086.tlg048.zip](https://github.com/OpenGreekAndLatin/First1KGreek/files/9620192/tlg0086.tlg048.zip)

[2022-11-21 19:00] lcerrato opened #2674 "(tlg0096.tlg002.First1K-grc1.xml) incomplete header"
The volume `<sourceDesc>` requires standardization.

[2022-11-21 21:21] lcerrato opened #2676 "need hook test and release GitHub Actions"
need GitHub Actions

[2022-11-21 22:55] lcerrato commented on #2532
@charhoughton Thank you!!

[2022-11-22 00:25] lcerrato commented on #2676
added with https://github.com/OpenGreekAndLatin/First1KGreek/commit/19c6c141c00868d671668f3d86976372d07ec627

[2022-11-22 00:26] lcerrato commented on #2676
@jacobwegner
Is there anything else I need to do to get this working? I think Travis is running in parallel but I will disable once I know this is ok.

[2022-11-22 00:38] #2532 closed

[2022-11-22 01:46] jacobwegner commented on #2676
Looks good!You may want to set the MAJOR_VERSION and MINOR_VERSION numbers to 1 to match the Travis builds:On Nov 21, 2022, at 6:26 PM, Lisa Cerrato ***@***.***> wrote:﻿
@jacobwegner
Is there anything else I need to do to get this working? I think Travis is running in parallel but I will disable once I know this is ok.

—Reply to this email directly, view it on GitHub, or unsubscribe.You are recei

[2022-11-22 18:11] lcerrato commented on #2676
fixed major/minor and deleted travis.yml

[2022-11-22 19:05] lcerrato commented on #2532
See pick list note https://docs.google.com/spreadsheets/d/1ZenCfbjoYuGG0g1LW249nG6wUpGtGEiEEPv23urV_q0/edit?disco=AAAAkUSltK4

[2022-11-22 20:09] #2617 closed

[2022-11-22 20:28] lcerrato commented on #2532
@AlisonBabeu

I should note that this contains text that TLG classifies as Fabulae (dodecasyllabi) {0096.015}
So, what we have as fable 20.4 = Fable 20 aliter
So I think that there is 1) overlap with the other edition we have and 2) there are fables missing (perhaps from volume 2?)
But I honestly do not know what is in here, and how it should or should not be divided. It requires a deep dive into

[2022-11-22 20:36] AlisonBabeu commented on #2532
hey @lcerrato I think this is why I put Aesop on the list but never dove into it, I even have a note in yellow I noticed about wondering whether it was worth this level of effort.

[2022-11-22 20:41] lcerrato commented on #2532
@AlisonBabeu
I can see why!! But since the Mt Allison team entered this, I think I should try to decipher.
I do think that the aliter (alternate) designations are important and those were not preserved here, so that is one immediate change we need to make.
The URN may or may not be important (we might want to split at some point).
It looks like SLUB has volume 2. I wonder if we captured that?